.tab-initial {
    .tab-header {
        .logo {
            margin-bottom: 1rem;
        }
    }

    .content-columns {
        padding-top: 1rem;
        display: grid;
        gap: 2rem;

        @include desktop-medium {
            gap: 3rem;
            grid-template-columns: repeat(6, 1fr);

            .about {
                grid-column: 1 / span 2;
            }

            .promo {
                grid-column: 3 / span 4;
            }

            .connect {
                grid-column: 1 / span 6;
            }
        }

        @include desktop-large {
            .promo {
                grid-column: 3 / span 2;
            }

            .connect {
                grid-column: 5 / span 2;
            }
        }
    }

    .header {
        padding-bottom: 1rem;

        h4 {
            color: #7f7f7f;
            font-size: $type-size-200;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            font-family: $rubik;
        }
    }

    .social {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: start;
        gap: 0 3rem;

        @include desktop-medium {
            grid-template-columns: 1fr 2fr;
        }

        @include desktop-large {
            grid-template-columns: repeat(1, 1fr);
            gap: 0;
        }

        ul {
            display: flex;
            align-items: center;
        }

        li + li {
            margin-left: 1.5rem;
        }

        &-link {
            display: flex;
            width: 1.25rem;
            height: 1.5rem;

            svg {
                width: 100%;
                height: 100%;
                object-fit: contain;
                fill: #fff;
                transition: all 200ms ease;

                &:hover {
                    fill: $blue;
                }
            }
        }

        p {
            font-family: $rubik;
            font-weight: 400;
            font-size: $type-size-200;

            @include desktop-large {
                padding-top: 2rem;
            }

            span,
            a {
                display: block;
                padding-bottom: 0.25rem;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }

    .promo {
        a {
            text-decoration: none;
        }
        .logo {
            max-width: 12rem;
            margin-bottom: 1rem;
        }
    }
}
