.latest {
    @include desktop-large {
        display: block;
        font-family: $rubik;
        font-weight: 300;
        margin-top: 4rem;
    }

    @include desktop-x-large {
        margin-top: 6rem;
    }

    @media screen and (max-height: 800px) {
        display: none;
    }

    .header {
        padding-bottom: 0.5rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        margin-bottom: 1rem;

        h3 {
            font-size: $type-size-150;
            text-transform: uppercase;
            letter-spacing: 0.1em;
        }
    }

    .posts {
        display: grid;

        gap: 2rem;

        @include desktop-medium {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .post {
        @include desktop-medium {
            &:nth-child(even) {
                &:before {
                    display: block;
                    content: '';
                    width: 1px;
                    height: 100%;
                    background: rgba(255, 255, 255, 0.1);
                    position: absolute;
                    left: -1.5rem;
                }
            }
        }

        a {
            display: flex;
            align-items: flex-start;
        }

        .photo {
            aspect-ratio: 1 / 1;
            width: 5rem;
            background: rgba(255, 255, 255, 0.1);
            @include cover-fill-image;
        }

        .info {
            flex: 1;
            padding-left: 1rem;
        }

        .type {
            margin-bottom: 0.25rem;

            h5 {
                background: $white;
                color: $black;
                line-height: 1em;
                padding: 0.25rem 0.5rem 0.125rem;
                text-align: center;
                display: inline-block;
                border-radius: 10px;
                font-size: $type-size-050;
                text-transform: uppercase;
                letter-spacing: 0.1em;
            }
        }

        .headline {
            h4 {
                font-weight: 700;
                font-size: $type-size-300;
                font-family: $circular;
            }
        }

        .copy {
            max-width: 28rem;
        }
    }
}
