.link-list {
    display: flex;
    align-items: center;

    @include desktop-small {
        width: 33.33vw;
        background-color: rgba(255, 255, 255, 0.02);
        border-right: 1px solid rgba(255, 255, 255, 0.07);
        right: -33.33vw;
        top: 0;

        &.slide-in {
            right: 0;
            transition: right 800ms ease 300ms;
        }

        &.slide-out {
            right: -33.33vw;
            transition: right 800ms ease 375ms;
        }
    }

    @include desktop-x-large {
        width: 36rem;
        right: -36rem;

        &.slide-out {
            right: -36rem;
        }
    }

    ul {
        padding: 0 clamp(2rem, 5vw, 3rem);
        margin: 0;

        @include desktop-x-large {
            padding: 0 clamp(4rem, 10vw, 8rem);
        }

        a {
            padding: 1rem 0;
            display: inline-block;
            color: $white;
            font-size: $type-size-400;
            font-weight: 300;
            font-family: $rubik;
            text-transform: uppercase;
            position: relative;
            transition-property: all;
            transition-duration: 250ms;
            transition-timing-function: ease;
            opacity: 0;

            @include desktop-medium {
                font-size: $type-size-500;
            }

            @media screen and (max-height: 800px) {
                padding: 0.5rem 0;
            }

            &:before {
                display: block;
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: $black;
                z-index: 10;
                transition-property: all;
                transition-duration: 500ms;
                transition-timing-function: ease;
            }

            &:after {
                position: absolute;
                bottom: 1rem;
                left: 0;
                display: block;
                content: '';
                width: 0;
                height: 1px;
                transition: all 450ms ease 75ms;
                @include purple-blue-gradient;
            }

            &:hover,
            &.active {
                &:after {
                    width: 100%;
                }
            }
        }

        @for $i from 1 to 10 {
            li:nth-child(#{$i}) a {
                transition-delay: $i * 100ms;

                &:before {
                    transition-delay: $i * 100ms;
                }
            }
        }

        &.show {
            a {
                opacity: 1;
            }

            a:before {
                height: 0;
                inset: 0;
            }
        }
    }
}
