.nav-content {
    color: $white;

    a {
        color: $white;
    }

    @include desktop-small {
        width: 66.67vw;
        padding-top: $scroll-top-padding;
        display: flex;
        align-items: center;
        opacity: 0;
        transition: opacity 400ms ease 1000ms;
        padding: 0 3rem;
        padding-top: 5rem;
    }

    @include desktop-medium {
        padding-top: 0;
    }

    @include desktop-large {
        width: auto;
        flex: 1;
        padding: 0 6rem;
    }

    @include desktop-xx-large {
        padding: 0 clamp(6rem, 15vw, 12rem);
    }

    @media screen and (max-width: 991px) {
        display: none;
    }

    .tab-panel {
        width: 100%;
        max-width: 75rem;
        margin: 0 auto 0 0;
        opacity: 0;
        transform: translateY(3rem);
        transition: all 700ms ease;

        &[data-tab-panel='initial'],
        &.show {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .tab-header {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding-bottom: 0.25rem;

        h2 {
            font-size: $type-size-500;
            text-transform: uppercase;
            font-size: $rubik;
            letter-spacing: 0.05em;
            font-weight: 400;
        }
    }

    .parent-link {
        padding-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        a {
            display: block;
            text-align: center;
            padding: 2.5rem;

            @include desktop-x-large {
                padding: 3rem;
            }

            @media screen and (max-height: 800px) {
                padding: 2rem;
            }
        }

        span.label {
            display: block;
            padding-top: 1rem;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            font-size: $type-size-100;
            font-weight: 400;
            max-width: 15rem;
            margin: 0 auto;

            @include desktop-large {
                font-size: $type-size-150;
            }
        }

        span.icon {
            display: block;
            aspect-ratio: 4 / 3;
            width: 100%;
            max-width: 3rem;
            margin: 0 auto;

            @include desktop-x-large {
                max-width: 4rem;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .partners-grid {
        grid-template-columns: repeat(2, 1fr);

        span.icon {
            max-width: 4rem;

            @include desktop-x-large {
                max-width: 8rem;
            }
        }
    }

    .company-grid {
        grid-template-columns: repeat(6, 1fr);

        .grid-item {
            grid-column: span 2;
        }
    }

    .products-grid {
        a {
            @include desktop-large {
                padding: 4rem;
            }
        }
        span.label {
            display: none;
        }

        span.icon {
            display: block;
            aspect-ratio: 2 / 1;
            width: 100%;
            max-width: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .grid-item {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    @import 'latest';
}
