@use "../../abstracts" as *;

.about {
    padding: 4rem 0;

    @include desktop-small {
        padding: 8rem 0;
    }

    &__editorial {
        display: grid;
        gap: 1rem 2rem;
        align-items: start;

        @include desktop-small {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        & + .about__editorial {
            padding-top: 2rem;

            @include desktop-small {
                padding-top: 4rem;
            }
        }

        &-1 {
            .about__image {
                position: relative;

                &::after {
                    display: block;
                    content: "";
                    position: absolute;
                    z-index: -1;
                    bottom: -24px;
                    right: -24px;
                    width: 5.5rem;
                    height: 5.5rem;
                    background-color: #cd1055;
                }
            }
        }

        &-2 {
            @include desktop-small {
                .about__video {
                    order: -1;
                }
            }
        }
    }

    &__sub-header {
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 0.05em;
        font-size: $type-size-400;
        padding-bottom: 0.5rem;
    }

    &__headline {
        padding-bottom: 1.5rem;
    }

    &__video {
        &-link {
            display: grid;
            place-items: center;

            &:hover {
                svg {
                    scale: 1.1;
                }
            }
        }

        img {
            grid-column: 1;
            grid-row: 1;
            z-index: 2;
        }

        svg {
            transition: all 350ms ease;
            grid-column: 1;
            grid-row: 1;
            z-index: 3;
            width: 3.25rem;

            @include desktop-small {
                width: 5.25rem;
            }
        }
    }

    .modal {
        &__container {
            overflow: visible;
            padding: 1rem;

            @include desktop-small {
                padding: 2rem;
            }
        }

        &__header {
            padding-bottom: 0;
        }

        &__close {
            position: absolute;
            top: 0;
            right: 0;
            transform: translate3d(50%, -50%, 0);
        }
    }

    .video-player {
        .embed {
            aspect-ratio: 16 / 9;
        }

        iframe {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
