@use "sass:meta";
@use "../../abstracts" as *;

@layer templates.astraeus {
    :where(.page-template-astraeus) {
        background: $white;

        @include meta.load-css("_about");
        @include meta.load-css("_diagram");
        @include meta.load-css("_tenets");
        @include meta.load-css("_early-adopters");
        @include meta.load-css("_data-services");
        @include meta.load-css("_outcomes");
        @include meta.load-css("_interested");
        @include meta.load-css("_features");
        @include meta.load-css("_solution-brief");

        .section-headline-2025 {
            font-weight: 150;
            font-size: $type-size-800;
            letter-spacing: -0.02em;
            line-height: 1.1em;
            color: #141414;

            @include desktop-small {
                font-size: $type-size-900;
            }
        }

        .divider {
            padding: 0 2rem;
            position: relative;

            svg {
                margin: 0 auto;
                display: block;
                max-width: 100%;
            }
        }
    }
}
