@use "../../abstracts" as *;

.interested {
    padding: 4rem 0;
    gap: 2rem;
    align-items: center;

    @include desktop-small {
        padding: 8rem 0;
    }

    &__headline {
        padding-bottom: 0.5rem;
    }

    &__image {
        @include tablet {
            grid-column: 2 / span 4;
        }

        @include desktop-small {
            grid-column: 3 / span 5;
        }
    }

    &__info {
        @include tablet {
            grid-column: 6 / span 4;
        }

        @include desktop-small {
            grid-column: 8 / span 5;
        }
    }
}
