@use "../../abstracts" as *;

.tenets {
    padding: 4rem 0;

    @include desktop-small {
        padding: 8rem 0;
    }

    &__headline {
        text-align: center;
        padding-bottom: 2rem;
    }

    &__rect-right {
        position: absolute;
        top: 30%;
        right: 0;
        width: 2rem;
        grid-column: 1;

        @include desktop-small {
            width: 4rem;
        }
    }
}
