section.difference {
    @include section-spacing;
    background: $white;

    .photo {
        @include desktop-small {
            grid-column: 2 / span 5;
            grid-row: 1;
        }

        img {
            width: 100%;
        }
    }

    .info {
        @include desktop-small {
            grid-column: 8 / span 5;
            grid-row: 1;
        }

        .sub-headline.copy {
            padding: 0.5rem 0 0 0;

            h4 {
                color: #5c5c5c;
            }
        }

        .copy {
            padding: 1rem 0 2rem 0;
            max-width: 34rem;
        }
    }
}
