section.intro {
    @include center-narrow;
    background: $white;

    .headline {
        text-align: center;
        padding-bottom: 1.5rem;
    }

    .info {
        @include desktop-small {
            grid-column: 3 / span 10;
        }
    }
}
