body.page-template-solutions-video-surveillance {
    .site-logo {
        &:before {
            background: url(../src/images/vs-logo-bg.jpg) no-repeat 0 0;
            background-size: cover;
            opacity: 1;
        }

        &.scrolled {
            &:before {
                background: $blue;
            }
        }
    }

    @import 'hero';

    @import 'intro';

    @import 'did-you-know';

    @import 'features';

    @import 'simplifies';

    @import 'difference';
}
