.pagination {
    margin-top: 1rem;
    border-top: 1px solid rgba($black, 0.1);
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .prev {
        margin-right: auto;
    }

    .next {
        margin-left: auto;
    }

    a {
        display: inline-block;
        padding: 0.25rem 0.75rem;
        border: 1px solid rgba($black, 0.1);
        margin: 0 0.25rem;

        &:hover {
            background: rgba($blue, 0.05);
            color: $blue;
        }
    }
}
