.resources-sidebar {
    @include desktop-small {
        grid-column: 2 / span 4;
    }

    @include desktop-medium {
        grid-column: 2 / span 3;
    }

    .resources-sidebar-nav {
        @include white-shadow-card;
        border-radius: 8px;
        padding: 0;
        display: none;
        margin-bottom: 3rem;

        &.show {
            display: block;
        }

        @include tablet {
            padding: 0;
        }

        @include desktop-small {
            display: block !important;
            margin-bottom: 0;
        }
    }

    li + li {
        border-top: 1px solid rgba($black, 0.05);
    }

    a {
        display: flex;
        align-items: center;
        padding: 1.5rem 2rem;
        font-size: $type-size-300;

        &:hover {
            background: rgba($blue, 0.05);

            .icon {
                svg {
                    g,
                    path {
                        fill: $blue;
                    }
                }
            }
        }

        .icon {
            display: flex;
            align-items: center;

            svg {
                width: 1.25rem;
                height: 1.25rem;

                g,
                path {
                    fill: rgba($black, 0.25);
                    transition: all 300ms ease;
                }
            }
        }

        .label {
            padding-left: 1rem;
        }

        &.active {
            background: rgba($blue, 0.05);

            .label {
                color: $blue;
            }

            .icon {
                svg {
                    g,
                    path {
                        fill: $blue;
                    }
                }
            }
        }
    }
}
