section.cloud-hybrid {
    background: $white;
    @include section-spacing;

    .section-header {
        padding-bottom: 3rem;

        .section-title {
            padding-bottom: 1rem;
        }
    }

    .features {
        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 3 / span 10;
            display: grid;
            gap: 3rem;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .feature {
        @include white-shadow-card;

        & + .feature {
            margin-top: 3rem;

            @include desktop-small {
                margin-top: 0;
            }
        }

        &-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 1rem;

            @include desktop-small {
                padding-bottom: 2rem;
            }
        }

        .icon {
            width: 5.5rem;
            height: 3rem;
            display: flex;
            align-items: center;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .headline {
            flex: 1;
        }

        .cta {
            padding-top: 2rem;
        }
    }
}
