section.opendrives-anywhere {
    background: $black;
    color: $white;
    @include section-spacing;

    & > * {
        @include tablet {
            grid-column: 3 / span 6;
        }
    }

    .section-header {
        padding-bottom: 2rem;

        @include desktop-small {
            grid-column: 2 / span 12;
            padding-bottom: 4rem;
        }

        .logo {
            width: 100%;
            padding-top: 2rem;
            max-width: 56rem;
            margin: 0 auto;

            @include desktop-small {
                padding-bottom: 2rem;
            }
        }
    }

    .photo {
        img {
            width: 100%;
        }

        @include desktop-small {
            grid-row: 2;
            grid-column: 9 / span 5;
        }
    }

    .copy {
        padding-top: 2rem;

        @include desktop-small {
            padding-top: 0;
            grid-row: 2;
            grid-column: 3 / span 5;
        }

        .cta {
            padding-top: 1rem;
        }
    }
}
