section.intro {
    background: $white;
    align-items: center;

    & > * {
        @include tablet-small {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 2 / span 12;
        }
    }

    .headline,
    .sub-header {
        text-align: center;
    }

    .sub-headline {
        padding-top: 1rem;
        padding-bottom: 3rem;
        font-weight: 300;
        font-size: $type-size-400;

        @include desktop-small {
            padding-bottom: 4rem;
        }
    }

    .photo {
        @include tablet-small {
            grid-column: 4 / span 4;
        }

        @include desktop-small {
            grid-column: 2 / span 5;
        }
    }

    .copy {
        padding-top: 2rem;

        @include desktop-small {
            grid-column: 8 / span 6;
        }
    }
}
