section.partners {
    background: $white;
    @include section-spacing;

    .section-header {
        padding-bottom: 2.5rem;
    }

    .three-col-grid {
        align-items: center;

        .logo {
            display: flex;
            justify-content: center;
        }
    }
}
