section.partners {
    background: $white;
    @include section-spacing;

    @include desktop-small {
        padding-bottom: 0;
    }

    .section-header {
        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 3 / span 10;
        }

        .headline {
            padding-bottom: 1rem;
        }
    }

    .filters {
        @include small-section-spacing-top;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        @include desktop-small {
            align-items: center;
        }

        .header {
            width: 100%;
            text-align: center;
            padding-bottom: 1rem;

            @include desktop-small {
                padding-bottom: 0;
                padding-right: 2rem;
                width: auto;
            }
            h5 {
                font-size: $type-size-200;
            }
        }

        .button-group {
            display: flex;
            flex-wrap: wrap;
            border-left: 1px solid rgba(0, 0, 0, 0.1);
            max-width: 36rem;
            margin: 0 auto;

            @include desktop-small {
                align-items: center;
                max-width: unset;
                margin: 0;
            }

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.5rem 1rem 0.375rem 1rem;
                border: 1px solid rgba(0, 0, 0, 0.1);
                font-size: $type-size-200;
                font-weight: bold;
                color: $dark-blue;
                width: 33.3333%;
                height: 3rem;
                text-align: center;

                @include desktop-small {
                    width: auto;
                    height: auto;
                }

                & + a {
                    border-left: 0;
                }

                &:hover,
                &.active {
                    background: $dark-blue;
                    color: $white;
                }

                &:first-of-type {
                    border-left: none;
                }

                @include desktop-small {
                    &:first-of-type {
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                    }

                    &:last-of-type {
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }
                }
            }
        }
    }

    .partners-grid {
        padding-top: 3rem;
    }

    .partner {
        text-align: center;
        padding: 2rem;

        .image {
            width: 8rem;
            height: 4rem;

            img {
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
        }

        h4 {
            color: $dark-blue;
            font-family: $rubik;
            font-size: $type-size-150;
        }
    }
}
