.copy {
    font-weight: 300;

    &.secondary-color {
        color: $charcoal;
    }

    &.extended {
        > * + * {
            margin-top: 2rem;
        }

        li + li {
            margin-top: 1rem;
        }

        figure {
            width: 100% !important;

            figcaption {
                padding-top: 0.5rem;
                font-size: $type-size-200;
                font-style: italic;
            }
        }
    }

    &.copy-1 {
        font-size: $type-size-400;
        line-height: 1.5em;
    }

    &.copy-2 {
        font-size: $type-size-300;
        line-height: 1.5em;
    }

    &.copy-3 {
        font-size: $type-size-200;
        line-height: 1.5em;
    }

    &.copy-4 {
        font-size: $type-size-100;
        line-height: 1.6em;
    }

    a {
        color: $blue;
        text-decoration: underline;
    }

    .btn {
        text-decoration: none;
    }
}
