.page-title {
    font-weight: 400;
    font-size: $type-size-700;
    line-height: 1.125em;

    @include desktop-small {
        font-size: $type-size-800;
    }

    &.blue {
        color: $blue;
    }

    &.dark-blue {
        color: $dark-blue;
    }
}

.section-title {
    font-weight: 900;
    font-size: $type-size-700;
    line-height: 1.125em;

    @include tablet {
        font-size: $type-size-800;
    }

    &.small {
        font-size: $type-size-600;
    }
}

.module-title {
    font-weight: 100;
    font-size: $type-size-150;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-family: $rubik;
    line-height: 1.125em;
}

.module-title {
    font-weight: 700;
    font-size: $type-size-400;
    line-height: 1.125em;
    text-transform: none;
}
