.page-title {
    font-weight: 400;
    font-size: $type-size-700;
    line-height: 1.125em;

    @include desktop-small {
        font-size: $type-size-800;
    }
}

.section-title {
    font-weight: 900;
    font-size: $type-size-800;
    line-height: 1.125em;
}
