body,
button,
input,
select,
optgroup,
textarea {
    font-family: $circular;
    color: $black;
}

::-moz-selection {
    background: $blue;
    color: $white;
    text-shadow: none;
}

::selection {
    background: $blue;
    color: $white;
    text-shadow: none;
}

a {
    color: $black;
    text-decoration: none;
    transition: all 0.2s ease;
}

@import 'headings';

@import 'copy';
