@supports (background: -webkit-named-image(i)) {
    .site-header {
        .site-logo {
            width: 161px;
            height: 79px;

            &::after {
                display: block;
                content: '';
                width: 161px;
                height: 1px;
                position: absolute;
                bottom: 0;
                left: 0;
                background: $white;
            }

            @include tablet-small {
                width: 218px;
                height: 106px;
            }

            a {
                max-width: unset;
                width: 161px;
                height: 79px;

                @include tablet-small {
                    width: 218px;
                    height: 106px;
                }

                svg {
                    object-fit: cover;
                    width: 161px;
                    height: 79px;

                    @include tablet-small {
                        width: 218px;
                        height: 106px;
                    }
                }
            }

            &:before {
                width: 161px;
                height: 77px;

                @include tablet-small {
                    width: 218px;
                    height: 106px;
                }
            }
        }
    }

    body.page-template-home {
        .site-header {
            .site-logo {
                &::after {
                    background: $black;
                }
            }
        }

        .hero {
            .video-wrapper {
                aspect-ratio: unset;
                position: relative;
                padding-bottom: 56.25%;
                height: 0;
                overflow: hidden;
                max-width: 100%;
                height: auto;

                iframe {
                    position: absolute;
                    inset: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: unset;
                }
            }
        }
    }

    body.post-type-archive-resources .resources-list article.resource,
    body.tax-resource_type .resources-list article.resource {
        .video-player {
            .embed {
                aspect-ratio: unset;
                position: relative;
                padding-bottom: 56.25%;
                height: 0;
                overflow: hidden;
                max-width: 100%;
                height: auto;

                iframe {
                    position: absolute;
                    inset: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: unset;
                }
            }
        }
    }
}
