.hero-demo {
    display: grid;
    overflow: hidden;
    height: 8rem;
    align-items: center;

    .headline {
        grid-row: 1;
        grid-column: 1;
        z-index: 10;

        &-wrapper {
            max-width: 88rem;
            margin: 0 auto;
            padding-left: 2rem;

            @media screen and (min-width: 90rem) {
                padding-left: 0;
            }
        }
    }

    .page-title {
        color: $white;
    }

    img {
        grid-row: 1;
        grid-column: 1;
        height: 8rem;
        object-position: top center;
    }
}
