@mixin blog-photo {
    .photo-wrapper {
        display: flex;
        flex: 1 1 100%;
        height: 100%;
        overflow: hidden;
        position: relative;

        img {
            flex: 1 0 100%;
            height: 100%;
            max-width: 100%;
            object-fit: cover;
            opacity: 0.71;
            position: relative;
            width: 100%;
            transition: all 500ms ease;

            &:hover {
                opacity: 1;
            }
        }
    }
}
