@mixin logo-background {
    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
        z-index: 10;
        @include purple-blue-gradient;
    }
}
