$spacer: clamp(2.5rem, 10vh, 5rem);
$spacer-desktop: clamp(5rem, 15vh, 7.5rem);

@mixin section-spacing($prop: padding) {
    #{$prop}-top: $spacer;
    #{$prop}-bottom: $spacer;

    @include desktop-small {
        #{$prop}-top: $spacer-desktop;
        #{$prop}-bottom: $spacer-desktop;
    }
}

@mixin section-spacing-top($prop: padding) {
    #{$prop}-top: $spacer;

    @include desktop-small {
        #{$prop}-top: $spacer-desktop;
    }
}

@mixin section-spacing-bottom($prop: padding) {
    #{$prop}-bottom: $spacer;

    @include desktop-small {
        #{$prop}-bottom: $spacer-desktop;
    }
}

$small-spacer: clamp(1.25rem, 5vh, 2.5rem);
$small-spacer-desktop: clamp(2.5rem, 7.5vh, 3.75rem);

@mixin small-section-spacing($prop: padding) {
    #{$prop}-top: $small-spacer;
    #{$prop}-bottom: $small-spacer;

    @include desktop-small {
        #{$prop}-top: $small-spacer-desktop;
        #{$prop}-bottom: $small-spacer-desktop;
    }
}

@mixin small-section-spacing-top($prop: padding) {
    #{$prop}-top: $small-spacer;

    @include desktop-small {
        #{$prop}-top: $small-spacer-desktop;
    }
}

@mixin small-section-spacing-bottom($prop: padding) {
    #{$prop}-bottom: $small-spacer;

    @include desktop-small {
        #{$prop}-bottom: $small-spacer-desktop;
    }
}
