body.blog,
body.single-post {
    background: rgba($blog-tan, 0.5);

    @import 'theme/typography';

    @import 'theme/header';

    .site-content {
        min-height: 50vh;
    }

    @import 'theme/footer';
}

@import 'theme/overlay';
