.related {
    @include small-section-spacing;
    display: grid;
    gap: 0 2rem;
    grid-template-columns: minmax(0, auto) repeat(4, minmax(auto, 1fr)) minmax(0, auto);

    @include tablet-small {
        grid-template-columns: minmax(0, auto) repeat(8, minmax(auto, 1fr)) minmax(0, auto);
    }

    @include desktop-small {
        grid-template-columns: minmax(0, auto) repeat(12, minmax(0, 4.5rem)) minmax(0, auto);
        padding-bottom: 0;
    }

    @include desktop-medium {
        @include section-spacing-top;
    }

    & > * {
        grid-column: 2 / span 4;

        @include tablet-small {
            grid-column: 2 / span 8;
        }

        @include desktop-small {
            grid-column: 2 / span 12;
        }
    }

    .section-header {
        padding-bottom: 2rem;
    }
}
