@use "../../abstracts" as *;

.about {
    @include section-spacing;

    &__intro {
        display: grid;
        gap: 1rem 2rem;
        align-items: start;

        &-copy {
            @include desktop-small {
                p:nth-of-type(2) {
                    break-after: avoid-column;
                    page-break-after: avoid;
                }

                columns: 2;
                column-gap: 2rem;
            }
        }
    }

    &__middle {
        display: grid;
        gap: 1.5rem;
        align-items: start;
        padding: 3rem 0;

        @include desktop-small {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 2rem;
        }

        &-image {
            img {
                width: 100%;
                height: auto;
                display: block;
            }

            @include desktop-small {
                order: -1;
            }
        }

        &-headline {
            font-weight: 600;
            padding-bottom: 1rem;
        }
    }

    &__highlight {
        background: #eaf1fe;
        padding: 2rem;
        display: grid;
        gap: 2rem;
        align-items: start;

        @include desktop-small {
            padding: 4rem;
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        &-image {
            padding-bottom: 1.5rem;
        }

        &-headline {
            padding-bottom: 1rem;

            @include desktop-small {
                grid-column: 1;
            }
        }

        &-copy-2 {
            strong {
                color: #000;
            }
        }
    }

    &__rect-right {
        position: absolute;
        bottom: 15%;
        right: 0;
        width: 2rem;
        grid-column: 1;

        @include desktop-small {
            width: 4rem;
        }
    }
}
