@use "../../abstracts" as *;

.introducing {
    position: relative;

    &__hero {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1 / -1;
        align-items: center;
    }

    &__background {
        z-index: 1;
        position: relative;
        grid-column: 1 / -1;
        grid-row: 1;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

    &__content {
        grid-row: 1;
        z-index: 2;
        position: relative;
        color: $white;
        grid-column: 2 / span 4;
        display: grid;
        gap: 4rem;
        align-items: center;
        padding: 3rem 0;

        @include tablet-small {
            grid-column: 2 / span 8;
        }

        @include desktop-small {
            grid-column: 2 / span 12;
        }
    }

    &__logo {
        max-width: 30rem;
        margin: 0 auto;
        img {
            width: auto;
            height: auto;
            max-width: 100%;
            display: block;
        }
    }

    &__info {
        padding: 3rem 0;
    }

    &__headline {
        padding-bottom: 1rem;
        font-size: $type-size-600 !important;
    }

    &__copy-2 {
        @include desktop-small {
            columns: 2;
            column-gap: 2rem;
        }

        a {
            text-decoration: underline !important;
        }
    }
}
