@use "sass:meta";
@use "../abstracts" as *;

@layer base {
    @include meta.load-css("base/grid");
    @include meta.load-css("base/headings");
    @include meta.load-css("base/copy");

    // base-level element defaults
    body {
        background-color: $white;
    }

    body,
    button,
    input,
    select,
    optgroup,
    textarea {
        font-family: $montserrat;
        color: $black;
    }

    ::selection {
        background: $blue;
        color: $white;
        text-shadow: none;
    }

    a {
        color: $black;
        text-decoration: none;
        transition: all 0.2s ease;
    }
}
