.featured {
    &-container {
        display: grid;
        gap: 2rem;
        grid-template-areas:
            'a'
            'b'
            'c';
        align-items: start;

        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 3 / span 10;
            grid-template-columns: 1fr 1fr;

            grid-template-areas:
                'a a'
                'b c';
        }

        @include desktop-medium {
            grid-column: 2 / span 12;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas:
                'a b'
                'a c';
        }
    }

    article {
        &:nth-child(1) {
            grid-area: a;

            .photo {
                @include desktop-medium {
                    aspect-ratio: 4 / 3;
                }
            }
        }

        &:nth-child(2) {
            grid-area: b;
        }

        &:nth-child(3) {
            grid-area: c;
        }

        &:nth-child(2),
        &:nth-child(3) {
            .info {
                padding-top: 1rem;
                h3 {
                    @include desktop-medium {
                        font-size: $type-size-300;
                    }
                }
            }
        }
    }
}
