@use "sass:meta";
@use "../../abstracts" as *;

@layer templates.page-default {
    :where(.page-template-default) {
        .page-body {
            padding-bottom: 6rem;

                padding-bottom: 0;
            @include desktop-small {
            }

            .copy {
                    grid-column: 2 / span 8;
                @include desktop-small {
                }
            }
        }
    }
}
