section.features {
    @include section-spacing;
    background: rgba(18, 132, 255, 0.06);

    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background: url(../src/images/features-bg.svg) no-repeat 0 0;
        background-size: cover;
        position: absolute;
        inset: 0;
        opacity: 0.25;
    }

    .section-header {
        padding-bottom: clamp(3rem, 7.5vh, 6rem);
    }

    .features-section-title {
        text-align: center;
        text-transform: uppercase;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: $type-size-400;
        color: #5c5c5c;
    }

    .feature {
        display: grid;
        gap: 2rem;
        align-items: center;

        @include tablet-small {
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem 6rem;
        }

        @include desktop-small {
            grid-column: 3 / span 10;
        }

        &:nth-child(odd) {
            @include tablet-small {
                .info {
                    grid-column: 1;
                    grid-row: 1;
                }

                .icon {
                    grid-column: 2;
                    grid-row: 1;
                }
            }
        }

        & + .feature {
            margin-top: clamp(4rem, 10vh, 6rem);
        }

        .icon {
            aspect-ratio: 1 / 1;
            background: $white;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 10.8113px 21.6226px rgba(0, 0, 0, 0.2);
            max-width: 8rem;

            @include tablet-small {
                max-width: 24rem;
                width: 100%;
                margin: 0 auto;
            }

            img {
                max-width: 60%;
                width: 100%;
            }
        }

        .info {
            .headline {
                padding-bottom: 1rem;
            }

            .section-title {
                @include tablet-small {
                    font-size: $type-size-600;
                }
            }

            .cta {
                padding-top: 2rem;
            }
        }
    }

    .section-cta {
        padding-top: clamp(3rem, 7.5vh, 6rem);
        text-align: center;
    }
}
