.page-header {
    padding: 0 0 3rem 0;
    text-align: center;

    .image {
        grid-column: 1 / -1;
        aspect-ratio: 30 / 1;

        @include cover-fill-image;
    }

    .page-title {
        padding-top: 6rem;
        padding-bottom: 1.5rem;
    }

    .copy {
        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 4 / span 8;
        }
    }
}
