section.back {
    @include small-section-spacing-top;
    padding-bottom: 2rem;

    .link {
        a {
            display: flex;
            align-items: center;
            font-size: $type-size-700;
            letter-spacing: 0.025em;
            color: $black;
            font-family: $oooh-baby;

            &::before {
                content: '← ';
                font-size: $type-size-300;
                font-family: $circular;
                padding-right: 0.25rem;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }
}
