.hero {
    background: $black;

    .video {
        grid-column: 1 / -1;

        &-wrapper {
            aspect-ratio: 160 / 90;

            iframe {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
