section.open {
    @include section-spacing;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: $white;

    .headline {
        padding-bottom: 1.5rem;
    }

    .headline,
    .copy {
        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 2 / span 6;
        }
    }
}
