@use "../../abstracts" as *;

.features {
    background: #fff;
    padding: 4rem 0 0 0;

    .section-header {
        padding-bottom: 2rem;
    }

    &__table {
        &-thead {
            display: none;

            @include tablet {
                display: block;
            }

            .features__table-tr {
                display: grid;
                grid-template-columns: minmax(0, 2fr) repeat(2, minmax(0, 1fr));
                border: 1px solid $black;
                border-bottom: none;
            }
        }
        &-th {
            text-align: left;
            padding: 0.5rem 1rem;

            @include desktop-small {
                padding: 1rem;
            }

            &.name {
                h3 {
                    font-size: 1.125rem;
                }

                p {
                    font-size: 1rem;
                    font-weight: 300;
                }
            }

            &.product {
                border-left: 1px solid $black;
                color: white;
                place-content: center;
                text-align: center;
                font-size: 1.125rem;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            &.essentials {
                background: #05b2dc;
            }

            &.professional {
                background: #15a1a1;
            }

            &.comprehensive {
                background: #246ca0;
            }
        }

        &-tbody {
            display: grid;
            gap: 1rem;

            @include tablet {
                gap: 0;
            }

            .features__table-tr {
                border: 1px solid $black;
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                grid-template-areas:
                    "name name"
                    "professional comprehensive";

                @include tablet {
                    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr) minmax(0, 1fr);
                    grid-template-areas: "name professional comprehensive";
                    border-bottom: none;
                }

                &:last-of-type {
                    @include tablet {
                        border-bottom: 1px solid $black;
                    }
                }

                .name {
                    grid-area: name;
                    padding: 1rem;
                    align-content: center;

                    &:hover {
                        @include tablet {
                            background: $blue;
                            color: $white;
                            cursor: pointer;

                            h3 {
                                font-weight: bold;
                            }

                            svg path {
                                stroke: $white;
                            }
                        }
                    }

                    &.expanded {
                        @include tablet {
                            h3 {
                                font-weight: bold;

                                svg {
                                    rotate: 0deg;
                                }
                            }
                            .copy {
                                display: block;
                            }
                        }
                    }

                    h3 {
                        font-size: 1rem;
                        line-height: 1.1;

                        @include tablet {
                            font-size: 1rem;
                            font-weight: 300;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }

                        svg {
                            display: none;

                            @include tablet {
                                display: block;
                                width: 14px;
                                height: 14px;
                                transition: all 150ms ease;
                                rotate: 180deg;
                            }
                        }
                    }

                    .copy {
                        padding-top: 0.5rem;
                        @include tablet {
                            display: none;
                        }
                    }
                }

                .product {
                    text-align: center;
                    color: $white;
                    padding: 0.5rem;
                    font-size: $type-size-200;
                    align-content: center;

                    @include tablet {
                        color: $black;
                        padding: 1rem;
                        border-left: 1px solid $black;
                    }

                    .mobile-header {
                        @include tablet {
                            display: none;
                        }
                    }

                    svg {
                        width: 1rem;
                        height: 1rem;

                        @include tablet {
                            width: 1.5rem;
                            height: 1.5rem;
                        }
                    }
                }

                .essentials {
                    grid-area: essentials;
                    background: #05b2dc;

                    @include tablet {
                        background: #e4f8fb;
                    }
                }

                .professional {
                    grid-area: professional;
                    background: #0e8181;

                    @include tablet {
                        background: #efeff6;
                    }
                }

                .comprehensive {
                    grid-area: comprehensive;
                    background: #246ca0;

                    @include tablet {
                        background: #e7edf5;
                    }
                }

                .checkmark {
                    @media (max-width: 767px) {
                        path {
                            fill: #ffffff;
                        }
                    }
                }

                .x {
                    @media (max-width: 767px) {
                        opacity: 0.45;
                        path {
                            fill: #ffffff;
                        }
                    }
                }
            }
        }

        .note {
            font-size: 0.6125rem;
            line-height: 1.1;
            font-weight: 300;

            @include tablet {
                font-size: 0.75rem;
                font-weight: 500;
            }
        }

        svg {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}
