.overview {
    background: #000f3d;
    padding: 2rem 0;

    @include desktop-small {
        padding: unset;
        background: unset;
    }

    &__grid {
        display: grid;
        gap: 2rem;
        padding-bottom: 2rem;

        @include desktop-small {
            top: -50%;
            z-index: 10;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            padding-bottom: 0;
        }
    }

    .essentials {
        border: 1px solid #01a5c3;
        background: radial-gradient(58.97% 66.67% at 90.52% 100%, #00b1ce 0%, #010626 100%);
    }

    .professional {
        border: 1px solid #5f5a98;
        background: radial-gradient(58.97% 66.67% at 90.52% 100%, #605b99 0%, #010626 100%);
    }

    .comprehensive {
        border: 1px solid #134f97;
        background: radial-gradient(58.97% 66.67% at 90.52% 100%, #134f97 0%, #010626 100%);
    }

    &__panel {
        color: $white;
        padding: 2rem;
        border-radius: 12px;

        @include desktop-small {
            padding: 3rem 2.5rem;
        }

        &-header {
            svg {
                width: 9rem;
                height: 3rem;
            }
        }

        &-title {
            font-size: $type-size-500;
        }

        &-info {
            padding-top: 1rem;
        }
    }
    .fact-sheet-link {
        text-align: center;
        grid-column: 1 / -1;
        color: $white;

        @include desktop-small {
            color: $black;
        }
    }
}
