.atlas {
    padding: 3rem 0;
    background: $black;
    color: $white;

    @include desktop-small {
        padding: 6rem 0;
    }
    .section-header {
        padding-bottom: 3rem;
        @include desktop-small {
            grid-column: 2 / span 3;
        }

        .copy {
            padding: 1rem 0;
        }
    }

    &__grid {
        display: grid;
        gap: 0.5rem;

        @include tablet {
            grid-template-columns: repeat(6, minmax(auto, 1fr));
            grid-template-rows: repeat(6, minmax(auto, 1fr));
            grid-template-areas: "tl tl tm tm tr tr"
                                "tl tl tm tm tr tr"
                                "bl bl tm tm tr tr"
                                "bl bl bm bm tr tr"
                                "bl bl bm bm br br"
                                "bl bl bm bm br br";
        }

        @include desktop-small {
            grid-column: 5 / span 9;
        }
    }

    &__item {
        padding: 2rem;
        color: $white;
        background: $blue;
        min-width: 0px;
        border-radius: 0.25rem;

        &-1 {
            background: linear-gradient(15deg, #1e6166 0%, #07aeb7 100%);

            @include tablet {
                grid-area: tl;
            }
        }

        &-2 {
            background: linear-gradient(45deg, #785ea6 0%, #4e2780 100%);

            @include tablet {
                grid-area: tm;
            }
        }

        &-3 {
            background: linear-gradient(125deg, #1a5577 0%, #00a3ff 100%);

            @include tablet {
                grid-area: tr;
            }
        }

        &-4 {
            background: linear-gradient(85deg, #ef5425 0%, #fbe116 100%);
            
            @include tablet {
                grid-area: bl;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }
        }

        &-5 {
            background: linear-gradient(160deg, #e661a0 0%, #ab278e 100%);

            @include tablet {
                grid-area: bm;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }

        }

        &-6 {
            background: linear-gradient(15deg, #111d2d 0%, #00838b 100%);
            
            @include tablet {
                grid-area: br;
            }
        }
    }

    &__headline {
        font-size: $type-size-300;
        line-height: 1.125em;
        padding-bottom: 0.25rem;
    }
    
}