@use "../../abstracts" as *;

.atlas {
    padding: 3rem 0;
    background: $black;
    color: $white;

    @include desktop-small {
        padding: 6rem 0;
    }

    .section-header {
        padding-bottom: 3rem;

        @include desktop-small {
            grid-column: 2 / span 3;
        }

        .copy {
            padding: 1rem 0;
        }
    }

    &__grid {
        display: grid;
        gap: 0.5rem;

        @include tablet {
            grid-template-rows: repeat(6, minmax(auto, 1fr));
            grid-template-columns: repeat(6, minmax(auto, 1fr));
            grid-template-areas:
                "tl tl tm tm tr tr"
                "tl tl tm tm tr tr"
                "bl bl tm tm tr tr"
                "bl bl bm bm tr tr"
                "bl bl bm bm br br"
                "bl bl bm bm br br";
        }

        @include desktop-small {
            grid-column: 5 / span 9;
        }
    }

    &__item {
        padding: 2rem;
        color: $white;
        background: $blue;
        min-width: 0px;
        border-radius: 0.25rem;
        transition: all 1000ms ease-in-out;
        background-position: 0;
        background: linear-gradient(var(--angle, 90deg), var(--c1, #1e6166), var(--c2, #07aeb7) 51%, var(--c1, #1e6166))
            var(--x, 0) / 200%;

        &:hover {
            --x: 100%;
        }

        &-1 {
            --angle: 90deg;
            --c1: #1e6166;
            --c2: #07aeb7;

            @include tablet {
                grid-area: tl;
            }
        }

        &-2 {
            --angle: 45deg;
            --c1: #785ea6;
            --c2: #4e2780;

            @include tablet {
                grid-area: tm;
            }
        }

        &-3 {
            --angle: 125deg;
            --c1: #1a5577;
            --c2: #00a3ff;

            @include tablet {
                grid-area: tr;
            }
        }

        &-4 {
            --angle: -135deg;
            --c1: #ef5425;
            --c2: #fbe116;

            @include tablet {
                grid-area: bl;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }
        }

        &-5 {
            --angle: 160deg;
            --c1: #e661a0;
            --c2: #ab278e;

            @include tablet {
                grid-area: bm;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }
        }

        &-6 {
            --angle: 15deg;
            --c1: #111d2d;
            --c2: #00838b;

            @include tablet {
                grid-area: br;
            }
        }
    }

    &__headline {
        font-size: $type-size-300;
        line-height: 1.125em;
        padding-bottom: 0.25rem;
    }
}
