.hero {
    background: $white;

    &__grid {
        display: grid;
        align-items: center;
    }

    &__info {
        grid-column: 1;
        grid-row: 1;
        z-index: 2;
        transform: translateY(1rem);

        @include desktop-small {
            transform: translateY(3rem);
        }
    }

    &__photo {
        grid-column: 1;
        grid-row: 1;
        z-index: 1;

        &::before {
            content: "";
            display: block;
            position: absolute;
            inset: 0;
            background: rgba($black, 0.1);
            z-index: 1;
        }

        &-wrapper {
            aspect-ratio: 4 / 3;

            @include tablet {
                aspect-ratio: 16 / 9;
            }

            @include desktop-small {
                aspect-ratio: unset;
                max-height: clamp(24rem, 50vh, 36rem);
            }

            @include cover-fill-image;
        }
    }

    &__headline {
        font-size: $type-size-600;
        font-weight: 900;
        line-height: 1.125em;
        color: $white;
        transform: translateY(-2rem);

        @include tablet-small {
            font-size: $type-size-700;
        }

        @include tablet {
            font-size: $type-size-900;
            transform: translateY(-4rem);
        }

        br {
            @media screen and (max-width: 375px) {
                display: none;
            }
        }

        &-phrase {
            margin-top: 0.25rem;
            display: inline-block;
            color: $blue;
            background: $white;
            padding: 0 0.5rem 0.5rem 0.5rem;
            text-transform: lowercase;
        }
    }

    .swiper-pagination {
        @include tablet-small {
            bottom: 2rem;
        }
    }

    .swiper-pagination-bullet {
        margin: 0 1rem;
        background: $white;
        opacity: 1;
        border: 2px solid $white;
        width: 0.75rem;
        height: 0.75rem;

        &-active {
            background: $blue;
        }
    }
}
