.hero {
    background: $white;

    &__grid {
        display: grid;
        align-items: center;
    }

    &__info {
        grid-column: 1;
        grid-row: 1;
        z-index: 2;
        transform: translateY(1rem);

        @include desktop-medium {
            transform: translateY(3rem);
        }
    }

    &__photo {
        grid-column: 1;
        grid-row: 1;
        z-index: 1;

        &::before {
            content: "";
            display: block;
            position: absolute;
            inset: 0;
            background: rgba($black, 0.1);
            z-index: 1;
        }

        &-wrapper {
            aspect-ratio: 4 / 3;

            @include desktop-medium {
                aspect-ratio: 16 / 11;
            }

            @include desktop-medium {
                aspect-ratio: unset;
                max-height: clamp(50vh, 54rem, 70vh);
            }

            @include cover-fill-image;
        }
    }

    &__headline {
        font-size: $type-size-700;
        font-weight: 900;
        line-height: 1.125em;
        color: $white;

        @include tablet {
            font-size: $type-size-1000;
        }

        &-phrase {
            margin-top: 0.25rem;
            display: inline-block;
            color: $white;
            background: $blue;
            padding: 0 0.5rem 0.5rem 0.5rem;
            text-transform: lowercase;
        }
    }

    .swiper-pagination {
        @include desktop-medium {
            bottom: 2rem;
        }
    }

    .swiper-pagination-bullet {
        margin: 0 1rem;
        background: $white;
        opacity: 1;
        border: 2px solid $white;
        width: 0.75rem;
        height: 0.75rem;

        &-active {
            background: $blue;
        }
    }
}
