section.uses {
    @include section-spacing;
    background: $white;

    .section-header {
        padding-bottom: 2rem;

        @include tablet {
            grid-column: 3 / span 6;
            padding-bottom: 3rem;
        }

        @include desktop-small {
            grid-column: 2 / span 12;
        }
    }

    .uses-list {
        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 2 / span 12;
        }
    }

    .use {
        @include desktop-small {
            display: grid;
            gap: 0 2rem;
            grid-template-columns: repeat(12, minmax(0, 4.5rem));
        }

        & + .use {
            margin-top: 3rem;

            @include tablet {
                margin-top: 6rem;
            }
        }

        &:nth-child(even) {
            .info {
                @include desktop-small {
                    grid-column: 1 / span 6;
                }
            }

            .photo {
                @include desktop-small {
                    grid-column: 8 / span 5;
                }
            }
        }
    }

    .photo {
        padding-top: 3rem;

        @include desktop-small {
            padding-top: 0;
            grid-row: 1;
            grid-column: 1 / span 5;
        }

        img {
            width: 100%;
            max-width: 32rem;
            margin: 0 auto;

            @include desktop-small {
                max-width: 100%;
            }
        }
    }

    .info {
        @include desktop-small {
            grid-row: 1;
            grid-column: 7 / span 6;
        }
    }

    .headline {
        padding-bottom: 1rem;
    }

    .copy {
        padding-bottom: 2rem;
    }

    .cta {
        & + .cta {
            margin-top: 0.5rem;
        }
    }
}
