.features {
    background: linear-gradient(331.22deg, #140931 13.72%, #004368 72.05%);

    .section-header {
        padding-bottom: 3rem;

        .headline {
            padding-bottom: 1rem;
        }
    }
}
