.site-header {
    box-shadow: unset;

    .site-logo a svg #background {
        fill: $blog-tan;
    }
    .site-logo:before {
        background: $blog-green;
        opacity: 1;
    }

    .desktop-nav,
    .search-container,
    .hamburger,
    .cta {
        background: $blog-tan;
    }

    .desktop-nav__link:after {
        background: $blog-green;
    }

    .cta {
        .btn {
            background: $blog-green;
            border-radius: 0;
        }
    }
}

nav.company-nav {
    background: $blog-green;

    ul {
        a {
            color: $white;
        }
    }
}
