body.blog.nav-overlay-open,
body.single-post.nav-overlay-open {
    .site-header {
        .site-logo {
            @include logo-background;

            a svg #background {
                fill: $black;
            }
        }

        .desktop-nav,
        .search-container,
        .hamburger,
        .cta {
            background: $black;
        }

        .cta {
            .btn {
                background-size: 600% 100%;
                background-image: linear-gradient(90deg, #a510f8, #00a3ff, #a510f8, #00a3ff, #a510f8, #00a3ff);
                border-radius: 25px;

                &:hover {
                    animation: gradient-animation 8000ms ease-out infinite;
                }
            }
        }
    }
}
