section.workflow {
    @include section-spacing;
    background: $light-blue;
    gap: 1rem 2rem;

    .copy {
        @include desktop-small {
            padding-top: 1rem;
            grid-column: 3 / span 10;
        }
    }
}