.pagination {
    margin-top: 3rem;
    border-top: 2px solid $dark-blue;
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 6rem;

    @include desktop-small {
        padding-bottom: 0;
    }

    a {
        font-weight: bold;
        display: block;
        padding: 0.5rem 1rem;
        border: 2px solid;
        margin: 0 0.5rem;
        color: $dark-blue;
        font-size: $type-size-200;

        &:hover {
            background: $dark-blue;
            color: $white;
            text-decoration: none;
            border-color: $dark-blue;
        }
    }

    span.current {
        font-weight: bold;
        display: block;
        padding: 0.5rem 1rem;
        border: 2px solid $dark-blue;
        margin: 0 0.5rem;
        background: $dark-blue;
        color: $white;
        font-size: $type-size-200;
    }
}
