.search-result.resource {
    background: rgba($white, 0.8);
    border: 1px solid rgba($black, 0.1);
    display: flex;
    flex-wrap: wrap;

    .info {
        flex: 1;
        padding: 1.5rem 2rem;
        @include tablet {
            padding: 2rem 2.5rem;
        }
    }

    .icon {
        width: 1.25rem;
        height: 1.25rem;
        margin-right: 0.5rem;
        display: flex;
        align-items: flex-start;

        svg {
            width: 100%;
            height: 100%;

            g,
            path {
                fill: $blue;
            }
        }
    }

    .thumbnail {
        aspect-ratio: 16 / 9;
        width: 100%;
        border: 1px solid rgba($black, 0.05);
        box-shadow: 0 0 1rem rgba($black, 0.05);
        transition: all 350ms ease;
        border-radius: 3px;
        margin-top: 1.5rem;

        @include tablet {
            width: 25%;
            margin-top: 0;
            margin-left: 2rem;
        }

        @include desktop-small {
            margin-top: 1.5rem;
            width: 100%;
        }

        @media screen and (min-width: 1100px) {
            width: 25%;
            margin-top: 0;
        }

        @include desktop-medium {
            width: 18rem;
        }

        &:hover {
            box-shadow: 0 0 1rem rgba($black, 0.1);
        }

        a {
            display: block;
            width: 100%;
            height: 100%;
            position: relative;

            &:hover {
                .play-btn {
                    opacity: 1;
                }
            }
        }

        .play-btn {
            position: absolute;
            z-index: 10;
            inset: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0.8;
            transition: all 350ms ease;

            &-wrapper {
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                background: $white;
                box-shadow: 0 0 1rem rgba($black, 0.75);

                @include tablet {
                    width: 2rem;
                    height: 2rem;
                }

                @include desktop-medium {
                    width: 3rem;
                    height: 3rem;
                }
            }

            svg {
                width: 100%;
                height: 100%;

                path {
                    fill: $blue;
                }
            }
        }

        @include cover-fill-image;
    }

    & + article.resource {
        margin-top: 1rem;
    }

    h3.title {
        font-size: $type-size-600;
        line-height: 1em;

        a {
            display: inline-block;

            &:hover {
                color: $blue;
            }

            &.has-icon {
                display: flex;
                align-items: center;
            }
        }
    }

    .description {
        padding-top: 0.5rem;
    }

    .cta {
        padding-top: 1rem;

        .underline {
            line-height: 1.25em;
            display: inline-block;
            font-size: $type-size-100;
            border-bottom: 3px solid $blue;
        }
    }

    .meta {
        padding-top: 1.5rem;

        p {
            font-family: $rubik;
            font-size: $type-size-100;

            @include tablet {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }

            span {
                display: flex;
                align-items: center;

                strong {
                    display: block;
                }

                em {
                    font-style: normal;
                    display: block;
                    margin-left: 0.25rem;
                    opacity: 0.5;
                }

                & + span {
                    margin-top: 0.25rem;

                    @include tablet {
                        margin-top: 0;
                        margin-left: 1.5rem;
                    }
                }

                &.file-type {
                    em {
                        text-transform: uppercase;
                    }
                }
            }
        }
    }

    &.video {
        align-items: flex-start;

        padding: 1.5rem 2rem;

        @include tablet {
            padding: 2rem 2.5rem;
        }

        .info {
            padding: unset;

            @include tablet {
                padding: unset;
            }
        }
    }

    .video-player {
        .embed {
            aspect-ratio: 16 / 9;
        }

        iframe {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
