.article-body {
    background: $white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.1) 0px 20px 30px -12px,
        rgba(0, 0, 0, 0.0625) 0px 9px 18px -18px;

    @include tablet {
        grid-column: 3 / span 6;
    }

    @include desktop-small {
        grid-column: 6 / span 8;
        padding: 2rem;
    }

    .featured-video {
        aspect-ratio: 16 / 9;
        margin-bottom: 2rem;

        iframe {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .featured-image {
        padding-bottom: 2rem;

        img {
            border-radius: 5px;
        }
    }

    .title {
        h2 {
            font-size: $type-size-600;
            line-height: 1.125em;
            color: $blue;
            font-weight: 900;
        }
    }

    .copy-2 {
        padding: 0 1rem;
        line-height: 1.675em;
    }

    blockquote {
        background: $dark-blue;
        color: $white;
        padding: 2rem;
        border-radius: 10px;

        @include desktop-small {
            padding: 3rem;
        }

        p {
            font-size: $type-size-300;
            line-height: 1.75em;
            font-weight: 400;

            @include desktop-small {
                font-size: $type-size-400;
            }

            & + p {
                margin-top: 1rem;
            }
        }

        h4 {
            padding-top: 2rem;
            text-transform: uppercase;
            font-family: $rubik;
            font-size: $type-size-200;
            line-height: 1.5em;
        }
    }

    h3 {
        color: $dark-blue;

        & + * {
            margin-top: 0.5rem;
        }
    }

    .documents {
        display: flex;
        flex-wrap: wrap;

        .document {
            width: 100%;

            @include desktop-medium {
                width: auto;
                margin-right: 1.5rem;
            }

            & + .document {
                margin-top: 1rem;

                @include desktop-medium {
                    margin-top: 0;
                }
            }
        }

        .btn {
            text-decoration: none;
        }
    }

    .links {
        .link {
            & + .link {
                margin-top: 1rem;
            }

            a {
                display: flex;
                align-items: center;
                color: $black;
                text-decoration: none;
                line-height: 1.375em;
                font-family: $rubik;
                font-size: $type-size-150;

                .icon {
                    display: block;
                    width: 1.5rem;
                    height: 1.5rem;

                    svg {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        fill: $black;

                        g,
                        path {
                            fill: $black;
                        }
                    }
                }

                .label {
                    flex: 1;
                    padding-left: 1rem;
                    max-width: 30rem;
                }
            }
        }
    }
}
