.article-footer {
    padding-top: 2rem;

    @include desktop-small {
        padding-top: 4rem;
    }

    .related {
        .section-header {
            padding-bottom: 1rem;

            @include desktop-small {
                padding-bottom: 2rem;
            }
        }

        .section-title {
            color: $dark-blue;
        }
    }
}
