section.customers {
    @include section-spacing;

    @include desktop-small {
        padding-bottom: 0;
    }

    .section-header {
        padding-bottom: 3rem;

        .headline {
            padding-bottom: 1.5rem;
        }
    }
}
