section.features {
    background: $white;
    @include section-spacing-bottom;

    .features-container {
        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 2 / span 12;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .feature {
        display: grid;
        grid-template-columns: 4rem 1fr;
        gap: 0 1rem;

        @include desktop-small {
            grid-template-columns: 1fr;
        }

        & + .feature {
            margin-top: 3rem;

            @include desktop-small {
                margin-top: 0;
            }
        }

        .headline {
            padding-bottom: 0.5rem;

            @include desktop-small {
                padding-bottom: 0.25rem;
            }

            h3 {
                font-family: $circular;
                letter-spacing: 0;

                @include desktop-small {
                    font-size: $type-size-400;
                    line-height: 1.125em;
                }
            }
        }

        .copy {
            @include desktop-small {
                font-size: $type-size-200;
            }
        }

        .icon {
            @include desktop-small {
                grid-row: 1;
                grid-column: 1;
                z-index: 5;
                mix-blend-mode: multiply;
            }

            svg {
                width: 100%;
                height: auto;

                @include desktop-small {
                    transform: scale(1.1);
                    transform-origin: center center;
                }
            }
        }

        .info {
            @include desktop-small {
                grid-row: 1;
                z-index: 10;
                grid-column: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
            }

            &-wrapper {
                @include desktop-small {
                    max-width: 48%;
                }
            }
        }
    }
}
