section.featured {
    @include section-spacing-bottom;
    background: $white;

    .partner {
        .logo {
            aspect-ratio: 16 / 9;
            max-width: 12rem;
            margin: 0 auto;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .info {
            text-align: center;

            h3 {
                color: $dark-blue;
                font-family: $rubik;
                font-size: $type-size-200;
            }
        }
    }
}
