@use "../../abstracts" as *;

section.why {
    background: $light-blue;
    gap: 2rem;
    @include section-spacing;

    .info {
        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 2 / span 5;
        }

        .headline {
            padding-bottom: 1rem;
        }

        .cta {
            padding-top: 2rem;
        }
    }

    .video {
        aspect-ratio: 16 / 9;

        @include tablet {
            grid-column: 3 / span 6;
        }

        @include desktop-small {
            grid-column: 8 / span 6;
        }

        iframe {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.related-wrapper {
    @include section-spacing-top;
}
