@use "../../abstracts" as *;

.customers {
    background: $blue;
    color: $white;
    @include section-spacing;

    .copy {
        padding-top: 4rem;
        padding-bottom: 3rem;

        a {
            color: $white;
            text-decoration: underline;
        }
    }

    svg {
        * {
            fill: $white;
        }
    }

    .cta {
        padding-top: 3rem;
    }

    .customer-grid {
        .tbn,
        .christ-fellowship {
            .image {
                width: 10rem;
                height: 5rem;
            }
        }
    }
}
