@use "../../abstracts" as *;

.hero {
    color: $white;

    &__photo {
        grid-row: 1;
        grid-column: 1 / -1;
        z-index: 1;

        @include cover-fill-image;
    }

    &__wrapper {
        grid-row: 1;
        z-index: 2;
        display: grid;
        gap: 2rem;
        @include section-spacing;

        @include desktop-small {
            grid-template-columns: repeat(12, minmax(0, 1fr));
        }
    }

    &__info {
        @include desktop-small {
            grid-column: 1 / span 6;
        }
    }

    &__title {
        text-shadow: 0 0 12px rgba($black, 0.75);

        @include desktop-medium {
            font-size: 3rem;
        }
    }

    &__copy {
        text-shadow: 0 0 8px rgba($black, 0.75);
    }

    &__aside {
        display: grid;
        gap: 2rem;

        @include desktop-small {
            grid-column: 8 / span 5;
            align-self: start;
        }
    }

    &__form {
        background: $white;
        border-radius: 0.25rem;
        padding: 2rem;
        box-shadow: 0px 127px 36px 0px rgba(0, 0, 0, 0), 0px 81px 32px 0px rgba(0, 0, 0, 0.01),
            0px 46px 27px 0px rgba(0, 0, 0, 0.05), 0px 20px 20px 0px rgba(0, 0, 0, 0.09),
            0px 5px 11px 0px rgba(0, 0, 0, 0.1);

        #_form_21_ {
            margin: 0;
            padding: 0;
        }

        label {
            margin-bottom: 0.25rem;
        }

        input[type="text"] {
            border-radius: 0.25rem;
            border: 1px solid $black;
            margin-bottom: 1rem;
        }
    }

    &__copy {
        padding: 2rem 0;

        a {
            font-weight: bold;
        }
    }
}
