.cta {
    display: flex;
    align-items: center;
    background: $white;

    .btn {
        background: $blue;
        white-space: nowrap;

        &__login {
            background: $white;

            &:hover {
                background: $black;
            }
        }
    }
}
