.cta {
    display: none;

    @include desktop-medium {
        display: flex;
        align-items: center;
        background: $white;
    }

    .btn {
        background: $blue;
        white-space: nowrap;
    }
}
