.desktop-nav {
    padding-left: 2rem;
    background: $white;
    flex: 1;

    &__list {
        display: none;

        @include desktop-small {
            display: flex;
            align-items: center;
            height: 100%;
            transition: opacity 225ms ease 50ms;
        }
    }

    &__list-item {
        &:not(:first-of-type) {
            padding-left: 2rem;
        }
    }

    &__link {
        display: block;
        text-transform: uppercase;
        font-size: $type-size-100;
        font-family: $rubik;
        letter-spacing: 0.05em;
        position: relative;

        @include desktop-medium {
            font-size: $type-size-150;
        }

        &:after {
            position: absolute;
            bottom: -2px;
            left: 0;
            display: block;
            content: '';
            width: 0;
            height: 2px;
            transition: all 325ms ease 75ms;
            @include purple-blue-gradient;
        }

        &:hover {
            &:after {
                width: 100%;
            }
        }
    }
}
