.hamburger {
    display: flex;
    align-items: center;
    background: $white;
    padding: 0 1.5rem;

    @include tablet {
        padding: 0 2rem;
    }

    &-mobile {
        @include desktop-small {
            display: none;
        }
    }

    &-desktop {
        display: none;

        @include desktop-small {
            display: flex;
        }
    }

    a {
        display: block;
        width: 2rem;
        height: 22px;
        position: relative;

        .patty {
            width: 2rem;
            height: 2px;
            background: $black;
            margin-left: auto;
            transition: all 0.2s;
            position: relative;
            transform: translateY(10px);

            &:after,
            &:before {
                content: '';
                display: block;
                width: 2rem;
                height: 2px;
                background: $black;
                position: absolute;
                z-index: 1;
                transition: all 0.2s;
            }

            &:before {
                top: -8px;
            }

            &:after {
                top: 8px;
            }
        }
    }
}
