.site-header {
    width: 100%;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 5555;
    transition: all 200ms ease;

    &.scrolled.has-banner {
        @include desktop-small {
            transform: translateY(-74px);
        }
    }

    &-wrapper {
        display: flex;
        box-shadow: rgba(50, 50, 93, 0.1) 0px 30px 60px -12px, rgba(0, 0, 0, 0.05) 0px 18px 36px -18px;

        & > * {
            transition: background-color 500ms ease 50ms;
        }
    }

    @import 'logo';

    @import 'desktop-navigation';

    @import 'search';

    @import 'cta';

    @import 'hamburger';
}

body.nav-overlay-open {
    .site-header.has-banner {
        @include desktop-small {
            transform: translateY(-74px);
        }
    }
}

@import 'mobile-navigation';

// ACTIVE UNDERLINES
body.page-template-products .desktop-nav__link-products,
body.parent-pageid-22 .desktop-nav__link-products,
body.page-template-solutions .desktop-nav__link-solutions,
body.parent-pageid-30 .desktop-nav__link-solutions,
body.post-type-archive-customer_stories .desktop-nav__link-customer-stories,
body.single-customer_stories .desktop-nav__link-customer-stories {
    &::after {
        width: 100%;
    }
}

body.has-hero {
    .site-header {
        position: fixed;
        z-index: 5555;
        width: 100%;
        left: 0;
        top: 0;
        transition: all 200ms ease;
    }
}

body:not(.has-hero) {
    .site-header .site-logo {
        &:before {
            opacity: 1;
            background: $blue;
        }
    }
}

@import 'navigation';

@import 'nav-overlay-open';
