.site-navigation {
    background: $black;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 4444;
    top: 0;
    right: -100%;
    display: flex;

    &.slide-in {
        right: 0;
        transition: right 625ms ease 50ms;
    }

    &.slide-out {
        right: -100% !important;
        transition: right 725ms ease 400ms;
    }

    @import 'navigation/link-list';

    @import 'navigation/initial-tab';

    @import 'navigation/nav-content';

    .tab-container {
        display: none;
    }
}
