.search {
    &-container {
        background: $white;
        display: flex;
        align-items: center;
    }

    &-toggle {
        width: 1.25rem;
        height: 1.25rem;

        &:hover {
            cursor: pointer;
        }

        svg {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
            fill: black;
        }
    }

    &-modal {
        position: absolute;
        top: 4.5rem;
        right: -0.5rem;
        background: $white;
        border: 1px solid rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        box-shadow: rgba(50, 50, 93, 0.4) 0px 40px 60px -12px,
            rgba(0, 0, 0, 0.25) 0px 18px 36px -18px;
        padding: 2rem;
        pointer-events: none;
        z-index: -1;
        opacity: 0;
        transition: all 400ms ease 50ms;
        width: 80vw;
        transform: translateY(-1rem);

        @include tablet {
            width: 30rem;
        }
    }

    &-close {
        position: absolute;
        top: 0.75rem;
        right: 1rem;

        &:hover {
            cursor: pointer;

            svg {
                rect {
                    fill: $blue;
                }
            }
        }

        svg {
            width: 1rem;
            height: 1rem;
            object-fit: contain;

            rect {
                fill: #999;
                transition: fill 200ms ease;
            }
        }
    }

    &-form {
        display: flex;
        width: 100%;
        align-items: center;
    }

    &-input {
        flex: 1;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        font-size: $type-size-300;
        font-weight: 300;
        height: 2.5rem;
        line-height: 2.5rem;
        font-family: $rubik;
        transition: all 200ms ease;

        @include placeholder {
            color: #bbb;
            font-size: $type-size-200;
        }

        &:focus,
        &:active {
            outline: none;
            border-bottom-color: rgba(0, 0, 0, 0.75);
        }
    }

    &-submit {
        border: none;
        background: none;
        padding: 0;
        height: 2.5rem;
        line-height: 2.5rem;
        padding: 0 0.5rem 0 1rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        font-size: $type-size-200;
        font-family: $rubik;
        transition: all 200ms ease;

        &:hover {
            cursor: pointer;
            color: $blue;
            border-bottom-color: $blue;
        }

        &:focus,
        &:active {
            outline: none;
        }
    }

    &-container.show {
        .search-modal {
            opacity: 1;
            z-index: 50;
            pointer-events: unset;
            transform: translateY(0);
        }
    }
}

.queries {
    &__header {
        padding: 1.5rem 0 0 0;

        h5 {
            font-size: $type-size-200;
            font-weight: 700;
        }
    }

    &__list {
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
    }

    &__list-item {
        margin-right: 0.75rem;
        margin-top: 0.75rem;
    }

    &__link {
        display: inline-block;
        font-family: $rubik;
        font-size: $type-size-050;
        font-weight: 600;
        letter-spacing: 0.05em;
        padding: 0.5rem 1rem 0.375rem;
        border: 1px solid;
        border-radius: 25px;
        transition: all 400ms ease;

        &:hover {
            background: $blue;
            border-color: $blue;
            color: $white;
        }
    }
}
