@layer templates.archive-news {
  :where(.post-type-archive-news) article.press-release {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 30px -12px #32325d1a, 0 9px 18px -18px #00000010;
  }

  :where(.post-type-archive-news) article.press-release .photo {
    aspect-ratio: 16 / 9;
    border: 1px solid #f5f5f5;
    border-radius: 10px;
  }

  :where(.post-type-archive-news) article.press-release .photo img {
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 100%;
  }

  :where(.post-type-archive-news) article.press-release .info {
    padding: 1.5rem 2rem;
  }

  :where(.post-type-archive-news) article.press-release .info h4 {
    color: #2d77f8;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin-bottom: .25rem;
    font-family: Montserrat, sans-serif;
    font-size: clamp(.5rem, .42rem + .38vw, .675rem);
    font-weight: bold;
    display: inline-block;
  }

  :where(.post-type-archive-news) article.press-release .info h3 {
    margin: 0;
    font-size: clamp(1.04rem, .89rem + .74vw, 1.35rem);
    line-height: 1.125em;
  }

  :where(.post-type-archive-news) article.in-the-press {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 30px -12px #32325d1a, 0 9px 18px -18px #00000010;
  }

  :where(.post-type-archive-news) article.in-the-press .photo {
    aspect-ratio: 16 / 9;
    border: 1px solid #f5f5f5;
    border-radius: 10px;
  }

  :where(.post-type-archive-news) article.in-the-press .photo img {
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 100%;
  }

  :where(.post-type-archive-news) article.in-the-press .info {
    padding: 1.5rem 2rem;
  }

  :where(.post-type-archive-news) article.in-the-press .info h4 {
    color: #2d77f8;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin-bottom: .25rem;
    font-family: Montserrat, sans-serif;
    font-size: clamp(.5rem, .42rem + .38vw, .675rem);
    font-weight: bold;
    display: inline-block;
  }

  :where(.post-type-archive-news) article.in-the-press .info h3 {
    margin: 0;
    font-size: clamp(1.04rem, .89rem + .74vw, 1.35rem);
    line-height: 1.125em;
  }

  :where(.post-type-archive-news) article.in-the-press .info {
    gap: .5rem 2rem;
    display: grid;
  }

  @media screen and (width >= 768px) {
    :where(.post-type-archive-news) article.in-the-press .info {
      grid-template-columns: 3rem 1fr;
    }
  }

  :where(.post-type-archive-news) article.in-the-press .publication-logo {
    width: 3rem;
    height: 2rem;
  }

  :where(.post-type-archive-news) article.in-the-press .publication-logo img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  :where(.post-type-archive-news) .featured-container {
    grid-template-areas: "a"
                         "b"
                         "c";
    align-items: start;
    gap: 2rem;
    display: grid;
  }

  @media screen and (width >= 768px) {
    :where(.post-type-archive-news) .featured-container {
      grid-column: 3 / span 6;
    }
  }

  @media screen and (width >= 992px) {
    :where(.post-type-archive-news) .featured-container {
      grid-column: 3 / span 10;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "a a"
                           "b c";
    }
  }

  @media screen and (width >= 1280px) {
    :where(.post-type-archive-news) .featured-container {
      grid-template: "a b" 1fr
                     "a c" 1fr
                     / 2fr 1fr;
      grid-column: 2 / span 12;
    }
  }

  :where(.post-type-archive-news) .featured article:first-child {
    grid-area: a;
  }

  @media screen and (width >= 1280px) {
    :where(.post-type-archive-news) .featured article:first-child .photo {
      aspect-ratio: 16 / 9;
    }
  }

  :where(.post-type-archive-news) .featured article:nth-child(2) {
    grid-area: b;
  }

  :where(.post-type-archive-news) .featured article:nth-child(3) {
    grid-area: c;
  }

  :where(.post-type-archive-news) .featured article:nth-child(2) .info, :where(.post-type-archive-news) .featured article:nth-child(3) .info {
    padding-top: 1rem;
  }

  @media screen and (width >= 1280px) {
    :where(.post-type-archive-news) .featured article:nth-child(2) .info h3, :where(.post-type-archive-news) .featured article:nth-child(3) .info h3 {
      font-size: clamp(.87rem, .74rem + .62vw, 1.13rem);
    }
  }

  :where(.post-type-archive-news) .archive {
    gap: 2rem;
    padding-top: 2rem;
  }

  :where(.post-type-archive-news) .teaser .copy {
    padding-top: .5rem;
  }

  :where(.post-type-archive-news) .pagination {
    border-top: 2px solid #0a2d6b;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 6rem;
    display: flex;
  }

  @media screen and (width >= 992px) {
    :where(.post-type-archive-news) .pagination {
      padding-bottom: 0;
    }
  }

  :where(.post-type-archive-news) .pagination a {
    color: #0a2d6b;
    border: 2px solid;
    padding: .5rem 1rem;
    font-size: clamp(.72rem, .62rem + .52vw, .94rem);
    font-weight: bold;
    display: block;
  }

  :where(.post-type-archive-news) .pagination a:hover {
    color: #fff;
    background: #0a2d6b;
    border-color: #0a2d6b;
    text-decoration: none;
  }

  :where(.post-type-archive-news) .pagination span.current {
    color: #fff;
    background: #0a2d6b;
    border: 2px solid #0a2d6b;
    padding: .5rem 1rem;
    font-size: clamp(.72rem, .62rem + .52vw, .94rem);
    font-weight: bold;
    display: block;
  }

  :where(.post-type-archive-news) .pagination {
    grid-column: 1 / -1;
  }
}
