@layer templates.archive-news {
  :where(.post-type-archive-news) article.press-release {
    background: #fff;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.1) 0px 20px 30px -12px, rgba(0, 0, 0, 0.0625) 0px 9px 18px -18px;
  }
  :where(.post-type-archive-news) article.press-release .photo {
    aspect-ratio: 16/9;
    border-radius: 10px;
    border: 1px solid #f5f5f5;
  }
  :where(.post-type-archive-news) article.press-release .photo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  :where(.post-type-archive-news) article.press-release .photo img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  :where(.post-type-archive-news) article.press-release .info {
    padding: 1.5rem 2rem;
  }
  :where(.post-type-archive-news) article.press-release .info h4 {
    display: inline-block;
    color: #2d77f8;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: clamp(0.5rem, 0.42rem + 0.38vw, 0.675rem);
    font-family: "Montserrat", sans-serif;
    margin-bottom: 0.25rem;
  }
  :where(.post-type-archive-news) article.press-release .info h3 {
    font-size: clamp(1.04rem, 0.89rem + 0.74vw, 1.35rem);
    line-height: 1.125em;
    margin: 0;
  }
  :where(.post-type-archive-news) article.in-the-press {
    background: #fff;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.1) 0px 20px 30px -12px, rgba(0, 0, 0, 0.0625) 0px 9px 18px -18px;
  }
  :where(.post-type-archive-news) article.in-the-press .photo {
    aspect-ratio: 16/9;
    border-radius: 10px;
    border: 1px solid #f5f5f5;
  }
  :where(.post-type-archive-news) article.in-the-press .photo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  :where(.post-type-archive-news) article.in-the-press .photo img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  :where(.post-type-archive-news) article.in-the-press .info {
    padding: 1.5rem 2rem;
  }
  :where(.post-type-archive-news) article.in-the-press .info h4 {
    display: inline-block;
    color: #2d77f8;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: clamp(0.5rem, 0.42rem + 0.38vw, 0.675rem);
    font-family: "Montserrat", sans-serif;
    margin-bottom: 0.25rem;
  }
  :where(.post-type-archive-news) article.in-the-press .info h3 {
    font-size: clamp(1.04rem, 0.89rem + 0.74vw, 1.35rem);
    line-height: 1.125em;
    margin: 0;
  }
  :where(.post-type-archive-news) article.in-the-press .info {
    display: grid;
    gap: 0.5rem 2rem;
  }
  @media screen and (min-width: 768px) {
    :where(.post-type-archive-news) article.in-the-press .info {
      grid-template-columns: 3rem 1fr;
    }
  }
  :where(.post-type-archive-news) article.in-the-press .publication-logo {
    width: 3rem;
    height: 2rem;
  }
  :where(.post-type-archive-news) article.in-the-press .publication-logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  :where(.post-type-archive-news) .featured-container {
    display: grid;
    gap: 2rem;
    grid-template-areas: "a" "b" "c";
    align-items: start;
  }
  @media screen and (min-width: 768px) {
    :where(.post-type-archive-news) .featured-container {
      grid-column: 3/span 6;
    }
  }
  @media screen and (min-width: 992px) {
    :where(.post-type-archive-news) .featured-container {
      grid-column: 3/span 10;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "a a" "b c";
    }
  }
  @media screen and (min-width: 1280px) {
    :where(.post-type-archive-news) .featured-container {
      grid-column: 2/span 12;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "a b" "a c";
    }
  }
  :where(.post-type-archive-news) .featured article:nth-child(1) {
    grid-area: a;
  }
  @media screen and (min-width: 1280px) {
    :where(.post-type-archive-news) .featured article:nth-child(1) .photo {
      aspect-ratio: 16/9;
    }
  }
  :where(.post-type-archive-news) .featured article:nth-child(2) {
    grid-area: b;
  }
  :where(.post-type-archive-news) .featured article:nth-child(3) {
    grid-area: c;
  }
  :where(.post-type-archive-news) .featured article:nth-child(2) .info, :where(.post-type-archive-news) .featured article:nth-child(3) .info {
    padding-top: 1rem;
  }
  @media screen and (min-width: 1280px) {
    :where(.post-type-archive-news) .featured article:nth-child(2) .info h3, :where(.post-type-archive-news) .featured article:nth-child(3) .info h3 {
      font-size: clamp(0.87rem, 0.74rem + 0.62vw, 1.13rem);
    }
  }
  :where(.post-type-archive-news) .archive {
    padding-top: 2rem;
    gap: 2rem;
  }
  :where(.post-type-archive-news) .teaser .copy {
    padding-top: 0.5rem;
  }
  :where(.post-type-archive-news) .pagination {
    margin-top: 3rem;
    border-top: 2px solid #0a2d6b;
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-bottom: 6rem;
    gap: 1rem;
  }
  @media screen and (min-width: 992px) {
    :where(.post-type-archive-news) .pagination {
      padding-bottom: 0;
    }
  }
  :where(.post-type-archive-news) .pagination a {
    font-weight: bold;
    display: block;
    padding: 0.5rem 1rem;
    border: 2px solid;
    color: #0a2d6b;
    font-size: clamp(0.72rem, 0.62rem + 0.52vw, 0.94rem);
  }
  :where(.post-type-archive-news) .pagination a:hover {
    background: #0a2d6b;
    color: #fff;
    text-decoration: none;
    border-color: #0a2d6b;
  }
  :where(.post-type-archive-news) .pagination span.current {
    font-weight: bold;
    display: block;
    padding: 0.5rem 1rem;
    border: 2px solid #0a2d6b;
    background: #0a2d6b;
    color: #fff;
    font-size: clamp(0.72rem, 0.62rem + 0.52vw, 0.94rem);
  }
  :where(.post-type-archive-news) .pagination {
    grid-column: 1/-1;
  }
}