@layer templates.atlas-2024 {
  :where(.page-template-atlas-2024) .hero {
    color: #fff;
    background: #010316;
  }

  :where(.page-template-atlas-2024) .hero__background {
    grid-column: 1 / -1;
  }

  :where(.page-template-atlas-2024) .hero__info {
    align-content: start;
    gap: 2rem;
    padding: 3rem 0;
    display: grid;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-atlas-2024) .hero__info {
      grid-column: 2 / span 6;
    }
  }

  :where(.page-template-atlas-2024) .hero__headline {
    font-size: 1.5rem;
  }

  :where(.page-template-atlas-2024) .hero__logo {
    width: 12rem;
    height: 4rem;
  }

  :where(.page-template-atlas-2024) .hero__logo svg {
    width: 100%;
    height: 100%;
  }

  :where(.page-template-atlas-2024) .hero__buttons {
    align-items: center;
    gap: 1rem;
    display: flex;
  }

  :where(.page-template-atlas-2024) .hero__video {
    align-content: end;
    gap: 1rem;
    padding: 3rem 0;
    display: grid;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-atlas-2024) .hero__video {
      grid-column: 8 / span 6;
    }
  }

  :where(.page-template-atlas-2024) .hero__video-link {
    display: block;
  }

  :where(.page-template-atlas-2024) .hero__video .hero__logo-outline {
    margin-left: auto;
  }

  :where(.page-template-atlas-2024) .hero .video-player .embed {
    aspect-ratio: 16 / 9;
  }

  :where(.page-template-atlas-2024) .hero .video-player iframe {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  :where(.page-template-atlas-2024) .clients {
    background: #fff;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 4rem 2rem;
    display: flex;
  }

  @media screen and (width >= 768px) {
    :where(.page-template-atlas-2024) .clients {
      justify-content: space-between;
    }
  }

  :where(.page-template-atlas-2024) .clients .image {
    aspect-ratio: 16 / 9;
    max-width: 8rem;
  }

  :where(.page-template-atlas-2024) .clients .image svg {
    object-fit: contain;
    width: 100%;
    height: 100%;
    display: block;
  }

  :where(.page-template-atlas-2024) .capabilities {
    gap: 2rem;
    padding: 4rem 0;
  }

  :where(.page-template-atlas-2024) .capabilities__headline {
    padding-bottom: 1rem;
  }

  :where(.page-template-atlas-2024) .solutions {
    background: #fff;
    padding: 4rem 0;
  }

  :where(.page-template-atlas-2024) .solutions__headline {
    padding-bottom: 2rem;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-atlas-2024) .solutions__copy {
      grid-column: 2 / span 7;
    }
  }

  :where(.page-template-atlas-2024) .solutions__copy h3 {
    color: #bc5b01;
    font-size: clamp(1.25rem, 1.07rem + .89vw, 1.63rem);
  }

  :where(.page-template-atlas-2024) .solutions__copy h3 + p {
    margin-top: .5rem;
  }

  :where(.page-template-atlas-2024) .solutions__features {
    align-content: start;
    gap: 1rem;
    display: grid;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-atlas-2024) .solutions__features {
      grid-column: 9 / span 5;
    }
  }

  :where(.page-template-atlas-2024) .solutions__feature-info {
    color: #fff;
    background: #3d68f7;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    display: flex;
  }

  :where(.page-template-atlas-2024) .solutions__feature-info .play-btn svg {
    width: 2rem;
    height: 2rem;
    transform: translateY(2px);
  }

  :where(.page-template-atlas-2024) .solutions__feature-title {
    font-size: clamp(1.04rem, .89rem + .74vw, 1.35rem);
  }

  :where(.page-template-atlas-2024) section.cta {
    text-align: center;
    padding: 6rem 0;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-atlas-2024) section.cta {
      padding: 6rem 0 0;
    }
  }

  :where(.page-template-atlas-2024) .cta__copy {
    padding: 1rem 0;
  }
}
