@layer templates.careers {
  :where(.page-template-careers) .page-header {
    padding: 3rem 0;
  }

  :where(.page-template-careers) .page-header .headline {
    padding-bottom: 1rem;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-careers) .page-header .copy {
      grid-column: 2 / span 8;
    }
  }

  :where(.page-template-careers) .embed {
    background: #fff;
    border: 1px solid #e5e5e5;
    margin-bottom: 6rem;
    padding: 1.5rem 2rem;
    box-shadow: 0 4px 12px #00000026;
  }

  @media screen and (width >= 768px) {
    :where(.page-template-careers) .embed {
      padding: 2rem 2.5rem;
    }
  }

  @media screen and (width >= 992px) {
    :where(.page-template-careers) .embed {
      margin-bottom: 0;
    }
  }
}
