@layer templates.demo-landing-page {
  :where(.page-template-demo-landing-page) .site-footer {
    margin-top: unset;
  }

  :where(.page-template-demo-landing-page) .site-footer .pre-footer {
    display: none;
  }

  :where(.page-template-demo-landing-page) .nab-modal.micromodal-slide.is-open {
    display: none !important;
  }

  :where(.page-template-demo-landing-page) .hero {
    color: #fff;
  }

  :where(.page-template-demo-landing-page) .hero__photo {
    z-index: 1;
    grid-area: 1 / 1 / auto / -1;
  }

  :where(.page-template-demo-landing-page) .hero__photo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  :where(.page-template-demo-landing-page) .hero__wrapper {
    z-index: 2;
    grid-row: 1;
    gap: 2rem;
    padding-top: clamp(2.5rem, 10vh, 5rem);
    padding-bottom: clamp(2.5rem, 10vh, 5rem);
    display: grid;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-demo-landing-page) .hero__wrapper {
      grid-template-columns: repeat(12, minmax(0, 1fr));
      padding-top: clamp(5rem, 15vh, 7.5rem);
      padding-bottom: clamp(5rem, 15vh, 7.5rem);
    }

    :where(.page-template-demo-landing-page) .hero__info {
      grid-column: 1 / span 6;
    }
  }

  :where(.page-template-demo-landing-page) .hero__title {
    text-shadow: 0 0 12px #000000bf;
  }

  @media screen and (width >= 1280px) {
    :where(.page-template-demo-landing-page) .hero__title {
      font-size: 3rem;
    }
  }

  :where(.page-template-demo-landing-page) .hero__copy {
    text-shadow: 0 0 8px #000000bf;
  }

  :where(.page-template-demo-landing-page) .hero__aside {
    gap: 2rem;
    display: grid;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-demo-landing-page) .hero__aside {
      grid-column: 8 / span 5;
      align-self: start;
    }
  }

  :where(.page-template-demo-landing-page) .hero__form {
    background: #fff;
    border-radius: .25rem;
    padding: 2rem;
    box-shadow: 0 127px 36px #0000, 0 81px 32px #00000003, 0 46px 27px #0000000d, 0 20px 20px #00000017, 0 5px 11px #0000001a;
  }

  :where(.page-template-demo-landing-page) .hero__form #_form_21_ {
    margin: 0;
    padding: 0;
  }

  :where(.page-template-demo-landing-page) .hero__form label {
    margin-bottom: .25rem;
  }

  :where(.page-template-demo-landing-page) .hero__form input[type="text"] {
    border: 1px solid #000;
    border-radius: .25rem;
    margin-bottom: 1rem;
  }

  :where(.page-template-demo-landing-page) .hero__copy {
    padding: 2rem 0;
  }

  :where(.page-template-demo-landing-page) .hero__copy a {
    font-weight: bold;
  }

  :where(.page-template-demo-landing-page) .why {
    background: #fff;
    gap: 2rem;
    padding-top: clamp(2.5rem, 10vh, 5rem);
    padding-bottom: clamp(2.5rem, 10vh, 5rem);
  }

  @media screen and (width >= 992px) {
    :where(.page-template-demo-landing-page) .why {
      padding-top: clamp(5rem, 15vh, 7.5rem);
      padding-bottom: clamp(5rem, 15vh, 7.5rem);
    }

    :where(.page-template-demo-landing-page) .why__info {
      grid-column: 2 / span 6;
    }
  }

  :where(.page-template-demo-landing-page) .why__copy {
    padding-top: 2rem;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-demo-landing-page) .why__media {
      grid-column: 9 / span 5;
    }
  }

  :where(.page-template-demo-landing-page) .why__cta {
    padding-top: 2rem;
  }

  :where(.page-template-demo-landing-page) .customers {
    color: #fff;
    background: #2d77f8;
    padding-top: clamp(2.5rem, 10vh, 5rem);
    padding-bottom: clamp(2.5rem, 10vh, 5rem);
  }

  @media screen and (width >= 992px) {
    :where(.page-template-demo-landing-page) .customers {
      padding-top: clamp(5rem, 15vh, 7.5rem);
      padding-bottom: clamp(5rem, 15vh, 7.5rem);
    }
  }

  :where(.page-template-demo-landing-page) .customers .copy {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }

  :where(.page-template-demo-landing-page) .customers .copy a {
    color: #fff;
    text-decoration: underline;
  }

  :where(.page-template-demo-landing-page) .customers svg * {
    fill: #fff;
  }

  :where(.page-template-demo-landing-page) .customers .cta {
    padding-top: 3rem;
  }

  :where(.page-template-demo-landing-page) .customers .customer-grid .tbn .image, :where(.page-template-demo-landing-page) .customers .customer-grid .christ-fellowship .image {
    width: 10rem;
    height: 5rem;
  }
}
