@layer templates.demo-landing-page {
  :where(.page-template-demo-landing-page) .site-footer {
    margin-top: unset;
  }
  :where(.page-template-demo-landing-page) .site-footer .pre-footer {
    display: none;
  }
  :where(.page-template-demo-landing-page) .nab-modal.micromodal-slide.is-open {
    display: none !important;
  }
  :where(.page-template-demo-landing-page) .hero {
    color: #fff;
  }
  :where(.page-template-demo-landing-page) .hero__photo {
    grid-row: 1;
    grid-column: 1/-1;
    z-index: 1;
  }
  :where(.page-template-demo-landing-page) .hero__photo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  :where(.page-template-demo-landing-page) .hero__wrapper {
    grid-row: 1;
    z-index: 2;
    display: grid;
    gap: 2rem;
    padding-top: clamp(2.5rem, 10vh, 5rem);
    padding-bottom: clamp(2.5rem, 10vh, 5rem);
  }
  @media screen and (min-width: 992px) {
    :where(.page-template-demo-landing-page) .hero__wrapper {
      padding-top: clamp(5rem, 15vh, 7.5rem);
      padding-bottom: clamp(5rem, 15vh, 7.5rem);
    }
  }
  @media screen and (min-width: 992px) {
    :where(.page-template-demo-landing-page) .hero__wrapper {
      grid-template-columns: repeat(12, minmax(0, 1fr));
    }
  }
  @media screen and (min-width: 992px) {
    :where(.page-template-demo-landing-page) .hero__info {
      grid-column: 1/span 6;
    }
  }
  :where(.page-template-demo-landing-page) .hero__title {
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.75);
  }
  @media screen and (min-width: 1280px) {
    :where(.page-template-demo-landing-page) .hero__title {
      font-size: 3rem;
    }
  }
  :where(.page-template-demo-landing-page) .hero__copy {
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.75);
  }
  :where(.page-template-demo-landing-page) .hero__aside {
    display: grid;
    gap: 2rem;
  }
  @media screen and (min-width: 992px) {
    :where(.page-template-demo-landing-page) .hero__aside {
      grid-column: 8/span 5;
      align-self: start;
    }
  }
  :where(.page-template-demo-landing-page) .hero__form {
    background: #fff;
    border-radius: 0.25rem;
    padding: 2rem;
    box-shadow: 0px 127px 36px 0px rgba(0, 0, 0, 0), 0px 81px 32px 0px rgba(0, 0, 0, 0.01), 0px 46px 27px 0px rgba(0, 0, 0, 0.05), 0px 20px 20px 0px rgba(0, 0, 0, 0.09), 0px 5px 11px 0px rgba(0, 0, 0, 0.1);
  }
  :where(.page-template-demo-landing-page) .hero__form #_form_21_ {
    margin: 0;
    padding: 0;
  }
  :where(.page-template-demo-landing-page) .hero__form label {
    margin-bottom: 0.25rem;
  }
  :where(.page-template-demo-landing-page) .hero__form input[type=text] {
    border-radius: 0.25rem;
    border: 1px solid #000;
    margin-bottom: 1rem;
  }
  :where(.page-template-demo-landing-page) .hero__copy {
    padding: 2rem 0;
  }
  :where(.page-template-demo-landing-page) .hero__copy a {
    font-weight: bold;
  }
  :where(.page-template-demo-landing-page) .why {
    background: #fff;
    gap: 2rem;
    padding-top: clamp(2.5rem, 10vh, 5rem);
    padding-bottom: clamp(2.5rem, 10vh, 5rem);
  }
  @media screen and (min-width: 992px) {
    :where(.page-template-demo-landing-page) .why {
      padding-top: clamp(5rem, 15vh, 7.5rem);
      padding-bottom: clamp(5rem, 15vh, 7.5rem);
    }
  }
  @media screen and (min-width: 992px) {
    :where(.page-template-demo-landing-page) .why__info {
      grid-column: 2/span 6;
    }
  }
  :where(.page-template-demo-landing-page) .why__copy {
    padding-top: 2rem;
  }
  @media screen and (min-width: 992px) {
    :where(.page-template-demo-landing-page) .why__media {
      grid-column: 9/span 5;
    }
  }
  :where(.page-template-demo-landing-page) .why__cta {
    padding-top: 2rem;
  }
  :where(.page-template-demo-landing-page) .customers {
    background: #2d77f8;
    color: #fff;
    padding-top: clamp(2.5rem, 10vh, 5rem);
    padding-bottom: clamp(2.5rem, 10vh, 5rem);
  }
  @media screen and (min-width: 992px) {
    :where(.page-template-demo-landing-page) .customers {
      padding-top: clamp(5rem, 15vh, 7.5rem);
      padding-bottom: clamp(5rem, 15vh, 7.5rem);
    }
  }
  :where(.page-template-demo-landing-page) .customers .copy {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  :where(.page-template-demo-landing-page) .customers .copy a {
    color: #fff;
    text-decoration: underline;
  }
  :where(.page-template-demo-landing-page) .customers svg * {
    fill: #fff;
  }
  :where(.page-template-demo-landing-page) .customers .cta {
    padding-top: 3rem;
  }
  :where(.page-template-demo-landing-page) .customers .customer-grid .tbn .image,
  :where(.page-template-demo-landing-page) .customers .customer-grid .christ-fellowship .image {
    width: 10rem;
    height: 5rem;
  }
}