@layer templates.demo {
  :where(.page-template-demo) .site-footer {
    margin-top: unset;
  }

  :where(.page-template-demo) .nab-modal.micromodal-slide.is-open {
    display: none !important;
  }

  :where(.page-template-demo) .hero-demo {
    background: #000;
    align-items: center;
    height: 8rem;
    display: grid;
    overflow: hidden;
  }

  :where(.page-template-demo) .hero-demo .headline {
    z-index: 10;
    grid-area: 1 / 1;
  }

  :where(.page-template-demo) .hero-demo .headline-wrapper {
    max-width: 88rem;
    margin: 0 auto;
    padding-left: 2rem;
  }

  @media screen and (width >= 90rem) {
    :where(.page-template-demo) .hero-demo .headline-wrapper {
      padding-left: 0;
    }
  }

  :where(.page-template-demo) .hero-demo .page-title {
    color: #fff;
  }

  :where(.page-template-demo) .hero-demo img {
    object-position: top center;
    grid-area: 1 / 1;
    height: 8rem;
  }

  :where(.page-template-demo) .demo {
    display: grid;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-demo) .demo {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  :where(.page-template-demo) .demo__content {
    color: #fff;
    background: #2d77f8;
    padding: 4rem;
  }

  :where(.page-template-demo) .demo__header {
    max-width: 40rem;
    margin-left: auto;
    padding-bottom: 2rem;
  }

  :where(.page-template-demo) .demo__copy {
    max-width: 40rem;
    margin-left: auto;
  }

  :where(.page-template-demo) .demo a {
    color: #fff;
    text-decoration: underline;
  }

  :where(.page-template-demo) .demo .customers {
    border-top: 1px solid #ffffff40;
    margin-top: 3rem;
    padding-top: 3rem;
    padding-bottom: 6rem;
  }

  :where(.page-template-demo) .demo .customers svg * {
    fill: #fff;
  }

  :where(.page-template-demo) .demo__form {
    background: #fff;
    padding: 4rem 4rem clamp(10rem, 30vh, 15rem);
  }

  :where(.page-template-demo) .demo .forminator-custom-form {
    max-width: 40rem;
    margin-right: auto;
  }
}
