@layer templates.home-2025 {
  :where(.page-template-home-2025) {
    background: #fff;
  }

  :where(.page-template-home-2025) .hero {
    text-align: center;
    padding: 4rem 0;
    overflow: hidden;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-home-2025) .hero {
      padding: 8rem 0;
    }
  }

  :where(.page-template-home-2025) .hero__headline {
    padding-bottom: 2rem;
  }

  :where(.page-template-home-2025) .hero__copy {
    text-wrap: pretty;
    max-width: 36rem;
    margin: 0 auto;
    padding-bottom: 2rem;
    font-weight: 400;
    line-height: 1.75em;
  }

  :where(.page-template-home-2025) .hero__video {
    display: grid;
  }

  :where(.page-template-home-2025) .hero__video-poster {
    z-index: 2;
    grid-area: 1 / 1;
    place-items: center;
    max-width: 76%;
    margin: 0 auto;
    display: grid;
  }

  :where(.page-template-home-2025) .hero__video-poster-link {
    place-items: center;
    display: grid;
  }

  :where(.page-template-home-2025) .hero__video-poster-link:hover svg {
    scale: 1.1;
  }

  :where(.page-template-home-2025) .hero__video-poster img {
    z-index: 2;
    grid-area: 1 / 1;
  }

  :where(.page-template-home-2025) .hero__video-poster svg {
    z-index: 3;
    grid-area: 1 / 1;
    width: 3.25rem;
    transition: all .35s;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-home-2025) .hero__video-poster svg {
      width: 5.25rem;
    }
  }

  :where(.page-template-home-2025) .hero__video-frame {
    z-index: 1;
    grid-area: 1 / 1;
    max-width: 840px;
    margin: 0 auto;
    position: relative;
  }

  :where(.page-template-home-2025) .hero__rect-left {
    grid-column: 1;
    width: 2rem;
    position: absolute;
    top: 30%;
    left: 0;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-home-2025) .hero__rect-left {
      width: 6rem;
    }
  }

  :where(.page-template-home-2025) .hero__blob {
    z-index: -1;
    grid-area: 1 / 1;
    position: absolute;
    top: 0;
  }

  :where(.page-template-home-2025) .hero__blob img {
    transform: translate3d(12%, -25%, 0);
  }

  :where(.page-template-home-2025) .hero .modal__container {
    padding: 1rem;
    overflow: visible;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-home-2025) .hero .modal__container {
      padding: 2rem;
    }
  }

  :where(.page-template-home-2025) .hero .modal__header {
    padding-bottom: 0;
  }

  :where(.page-template-home-2025) .hero .modal__close {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate3d(50%, -50%, 0);
  }

  :where(.page-template-home-2025) .hero .video-player .embed {
    aspect-ratio: 16 / 9;
  }

  :where(.page-template-home-2025) .hero .video-player iframe {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  :where(.page-template-home-2025) .about {
    padding: 4rem 0;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-home-2025) .about {
      padding: 8rem 0;
    }
  }

  :where(.page-template-home-2025) .about__headline {
    text-align: center;
    padding-bottom: 2rem;
  }

  :where(.page-template-home-2025) .about__copy {
    text-wrap: pretty;
    text-align: center;
    max-width: 52rem;
    margin: 0 auto;
    padding-bottom: 4rem;
    font-weight: 400;
    line-height: 1.75em;
  }

  :where(.page-template-home-2025) .about__editorial {
    align-items: center;
    gap: 2rem 4rem;
    display: grid;
  }

  @media screen and (width >= 768px) {
    :where(.page-template-home-2025) .about__editorial {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  :where(.page-template-home-2025) .about__editorial + .about__editorial {
    padding-top: 4rem;
  }

  :where(.page-template-home-2025) .about__editorial .copy {
    line-height: 1.75em;
  }

  :where(.page-template-home-2025) .about__editorial-1 .photo {
    position: relative;
  }

  :where(.page-template-home-2025) .about__editorial-1 .photo:after {
    content: "";
    z-index: -1;
    background-color: #f9a009;
    width: 4rem;
    height: 5.5rem;
    display: block;
    position: absolute;
    top: -24px;
    right: -12px;
  }

  :where(.page-template-home-2025) .about__editorial-2 .photo {
    position: relative;
  }

  :where(.page-template-home-2025) .about__editorial-2 .photo:after {
    content: "";
    z-index: -1;
    background-color: #cd1055;
    width: 4rem;
    height: 5.5rem;
    display: block;
    position: absolute;
    bottom: -28px;
    left: -32px;
  }

  @media screen and (width >= 768px) {
    :where(.page-template-home-2025) .about__editorial-2 .photo {
      order: -1;
    }
  }

  :where(.page-template-home-2025) .about__rect-right {
    grid-column: 1;
    width: 2rem;
    position: absolute;
    top: -5%;
    right: 0;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-home-2025) .about__rect-right {
      width: 6rem;
    }
  }

  :where(.page-template-home-2025) .values {
    padding: 4rem 0;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-home-2025) .values {
      padding: 8rem 0;
    }
  }

  :where(.page-template-home-2025) .values__headline {
    text-align: center;
    text-wrap: balance;
    padding-bottom: 2rem;
  }

  :where(.page-template-home-2025) .values__copy {
    text-wrap: pretty;
    text-align: center;
    max-width: 52rem;
    margin: 0 auto;
    font-weight: 400;
    line-height: 1.75em;
  }

  :where(.page-template-home-2025) .values__slides {
    grid-column: 1 / -1;
    position: relative;
  }

  :where(.page-template-home-2025) .values .values-swiper {
    padding: 0 2rem;
    position: relative;
    overflow: hidden;
  }

  :where(.page-template-home-2025) .values .values-swiper.swiper-initialized .swiper-wrapper {
    align-items: stretch;
    margin: 4rem 0;
    display: flex;
  }

  :where(.page-template-home-2025) .values .slide {
    cursor: grab;
    border-radius: .25rem;
    width: 25rem;
    height: auto;
    min-height: 32rem;
    padding: 2rem;
    transition: all .3s;
    display: flex;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-home-2025) .values .slide {
      padding: 4rem;
    }
  }

  :where(.page-template-home-2025) .values .slide:active {
    cursor: grabbing;
  }

  :where(.page-template-home-2025) .values .slide__container {
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    gap: 2rem;
    display: flex;
  }

  :where(.page-template-home-2025) .values .slide__headline {
    text-transform: uppercase;
    color: #000;
    padding-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.2;
  }

  :where(.page-template-home-2025) .values .slide__copy {
    color: #000;
    font-size: 1rem;
    line-height: 1.6;
  }

  :where(.page-template-home-2025) .values .swiper-button-next, :where(.page-template-home-2025) .values .swiper-button-prev {
    color: #000;
    z-index: 10;
    background: #fff;
    border: 1px solid #000;
    border-radius: 50%;
    transition: all .3s;
    bottom: 0;
    width: 3rem !important;
    height: 3rem !important;
    top: auto !important;
  }

  :where(.page-template-home-2025) .values .swiper-button-next:hover, :where(.page-template-home-2025) .values .swiper-button-prev:hover {
    color: #fff;
    background: #000;
  }

  :where(.page-template-home-2025) .values .swiper-button-next:hover svg path, :where(.page-template-home-2025) .values .swiper-button-prev:hover svg path {
    fill: #fff;
  }

  :where(.page-template-home-2025) .values .swiper-button-next:after, :where(.page-template-home-2025) .values .swiper-button-prev:after {
    font-size: 1rem;
    font-weight: bold;
  }

  :where(.page-template-home-2025) .values .swiper-button-prev {
    transform: translateX(-3.5rem);
    left: 50% !important;
  }

  :where(.page-template-home-2025) .values .swiper-button-next {
    transform: translateX(3.5rem);
    right: 50% !important;
  }

  :where(.page-template-home-2025) .values__rect-left-top {
    grid-column: 1;
    width: 1.5rem;
    position: absolute;
    top: 5%;
    left: 0;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-home-2025) .values__rect-left-top {
      width: 4rem;
    }
  }

  :where(.page-template-home-2025) .values__rect-left-bottom {
    grid-column: 1;
    width: 1.5rem;
    position: absolute;
    bottom: -4%;
    left: 0;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-home-2025) .values__rect-left-bottom {
      width: 4rem;
    }
  }

  :where(.page-template-home-2025) .values__blob {
    z-index: -1;
    grid-area: 1 / 1;
    position: absolute;
    top: -50%;
    right: 0;
  }

  :where(.page-template-home-2025) .customers {
    padding: 4rem 0;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-home-2025) .customers {
      padding: 8rem 0;
    }
  }

  :where(.page-template-home-2025) .customers__headline {
    text-align: center;
    padding-bottom: 2rem;
  }

  :where(.page-template-home-2025) .customers__copy {
    text-wrap: pretty;
    text-align: center;
    max-width: 52rem;
    margin: 0 auto;
    font-weight: 400;
    line-height: 1.75em;
  }

  :where(.page-template-home-2025) .customers__gallery {
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    gap: 3rem 2rem;
    padding-top: 4rem;
    display: grid;
  }

  :where(.page-template-home-2025) .customers__gallery-item {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  :where(.page-template-home-2025) .customers__rect-right {
    grid-column: 1;
    width: 2rem;
    position: absolute;
    bottom: 0%;
    right: 0;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-home-2025) .customers__rect-right {
      width: 6rem;
    }
  }

  :where(.page-template-home-2025) .section-headline-2025 {
    letter-spacing: -.02em;
    color: #141414;
    text-align: center;
    font-size: clamp(2.16rem, 1.85rem + 1.54vw, 2.81rem);
    font-weight: 150;
    line-height: 1.1em;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-home-2025) .section-headline-2025 {
      font-size: clamp(3.11rem, 2.67rem + 2.22vw, 4.625em);
    }
  }

  :where(.page-template-home-2025) .divider {
    padding: 0 2rem;
    position: relative;
  }

  :where(.page-template-home-2025) .divider svg {
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }
}
