@layer templates.pricing {
  :where(.page-template-pricing) {
    background: #fff;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-pricing) .site-content .grid {
      grid-template-columns: minmax(0, auto) repeat(12, minmax(0, 4rem)) minmax(0, auto);
    }
  }

  :where(.page-template-pricing) .hero {
    color: #fff;
    background: url("../../../src/images/pricing-hero-bg.jpg") center / cover no-repeat;
    align-items: start;
  }

  :where(.page-template-pricing) .hero__wrapper {
    gap: 2rem;
    padding: 3rem 0;
    display: grid;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-pricing) .hero__wrapper {
      grid-template-columns: 1fr 2fr;
      padding: 8rem 0 20rem;
    }
  }

  :where(.page-template-pricing) .hero__logo {
    width: 12rem;
    height: 4rem;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-pricing) .hero__logo {
      width: 21rem;
      height: 7rem;
    }
  }

  :where(.page-template-pricing) .hero__logo svg {
    width: 100%;
    height: 100%;
  }

  :where(.page-template-pricing) .hero__headline {
    font-size: 1.5rem;
  }

  :where(.page-template-pricing) .overview {
    background: #000f3d;
    padding: 2rem 0;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-pricing) .overview {
      padding: unset;
      background: unset;
      margin-bottom: -16rem;
    }
  }

  :where(.page-template-pricing) .overview__grid {
    gap: 2rem;
    padding-bottom: 2rem;
    display: grid;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-pricing) .overview__grid {
      z-index: 10;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      justify-content: center;
      padding-bottom: 0;
      transform: translateY(-50%);
    }
  }

  :where(.page-template-pricing) .overview .essentials {
    background: radial-gradient(58.97% 66.67% at 90.52% 100%, #05b2dc 0%, #010626 100%);
    border: 1px solid #01a5c3;
  }

  :where(.page-template-pricing) .overview .essentials svg path {
    fill: #05b2dc;
  }

  :where(.page-template-pricing) .overview .professional {
    background: radial-gradient(58.97% 66.67% at 90.52% 100%, #15a1a1 0%, #010626 100%);
    border: 1px solid #5f5a98;
  }

  :where(.page-template-pricing) .overview .professional svg path {
    fill: #15a1a1;
  }

  :where(.page-template-pricing) .overview .comprehensive {
    background: radial-gradient(58.97% 66.67% at 90.52% 100%, #246ca0 0%, #010626 100%);
    border: 1px solid #134f97;
  }

  :where(.page-template-pricing) .overview .comprehensive svg path {
    fill: #246ca0;
  }

  :where(.page-template-pricing) .overview__panel {
    color: #fff;
    border-radius: 12px;
    padding: 2rem;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-pricing) .overview__panel {
      padding: 3rem 2.5rem;
    }
  }

  :where(.page-template-pricing) .overview__panel-header svg {
    width: 9rem;
    height: 3rem;
  }

  :where(.page-template-pricing) .overview__panel-title {
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: clamp(.72rem, .62rem + .52vw, .94rem);
    font-weight: 400;
  }

  :where(.page-template-pricing) .overview__panel-info {
    padding-top: 1rem;
  }

  :where(.page-template-pricing) .overview .fact-sheet-link {
    text-align: center;
    color: #fff;
    grid-column: 1 / -1;
  }

  :where(.page-template-pricing) .overview .fact-sheet-link a {
    color: #fff;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-pricing) .overview .fact-sheet-link {
      color: #000;
    }

    :where(.page-template-pricing) .overview .fact-sheet-link a {
      color: #074dcf;
    }
  }

  :where(.page-template-pricing) .features {
    background: #fff;
    padding: 4rem 0 0;
  }

  :where(.page-template-pricing) .features .section-header {
    padding-bottom: 2rem;
  }

  :where(.page-template-pricing) .features__table-thead {
    display: none;
  }

  @media screen and (width >= 768px) {
    :where(.page-template-pricing) .features__table-thead {
      display: block;
    }
  }

  :where(.page-template-pricing) .features__table-thead .features__table-tr {
    border: 1px solid #000;
    border-bottom: none;
    grid-template-columns: minmax(0, 2fr) repeat(2, minmax(0, 1fr));
    display: grid;
  }

  :where(.page-template-pricing) .features__table-th {
    text-align: left;
    padding: .5rem 1rem;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-pricing) .features__table-th {
      padding: 1rem;
    }
  }

  :where(.page-template-pricing) .features__table-th.name h3 {
    font-size: 1.125rem;
  }

  :where(.page-template-pricing) .features__table-th.name p {
    font-size: 1rem;
    font-weight: 300;
  }

  :where(.page-template-pricing) .features__table-th.product {
    color: #fff;
    text-align: center;
    text-overflow: ellipsis;
    border-left: 1px solid #000;
    place-content: center;
    font-size: 1.125rem;
    overflow: hidden;
  }

  :where(.page-template-pricing) .features__table-th.essentials {
    background: #05b2dc;
  }

  :where(.page-template-pricing) .features__table-th.professional {
    background: #15a1a1;
  }

  :where(.page-template-pricing) .features__table-th.comprehensive {
    background: #246ca0;
  }

  :where(.page-template-pricing) .features__table-tbody {
    gap: 1rem;
    display: grid;
  }

  @media screen and (width >= 768px) {
    :where(.page-template-pricing) .features__table-tbody {
      gap: 0;
    }
  }

  :where(.page-template-pricing) .features__table-tbody .features__table-tr {
    border: 1px solid #000;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-areas: "name name"
                         "professional comprehensive";
    display: grid;
  }

  @media screen and (width >= 768px) {
    :where(.page-template-pricing) .features__table-tbody .features__table-tr {
      border-bottom: none;
      grid-template-columns: minmax(0, 2fr) minmax(0, 1fr) minmax(0, 1fr);
      grid-template-areas: "name professional comprehensive";
    }

    :where(.page-template-pricing) .features__table-tbody .features__table-tr:last-of-type {
      border-bottom: 1px solid #000;
    }
  }

  :where(.page-template-pricing) .features__table-tbody .features__table-tr .name {
    grid-area: name;
    align-content: center;
    padding: 1rem;
  }

  @media screen and (width >= 768px) {
    :where(.page-template-pricing) .features__table-tbody .features__table-tr .name:hover {
      color: #fff;
      cursor: pointer;
      background: #2d77f8;
    }

    :where(.page-template-pricing) .features__table-tbody .features__table-tr .name:hover h3 {
      font-weight: bold;
    }

    :where(.page-template-pricing) .features__table-tbody .features__table-tr .name:hover svg path {
      stroke: #fff;
    }

    :where(.page-template-pricing) .features__table-tbody .features__table-tr .name.expanded h3 {
      font-weight: bold;
    }

    :where(.page-template-pricing) .features__table-tbody .features__table-tr .name.expanded h3 svg {
      rotate: none;
    }

    :where(.page-template-pricing) .features__table-tbody .features__table-tr .name.expanded .copy {
      display: block;
    }
  }

  :where(.page-template-pricing) .features__table-tbody .features__table-tr .name h3 {
    font-size: 1rem;
    line-height: 1.1;
  }

  @media screen and (width >= 768px) {
    :where(.page-template-pricing) .features__table-tbody .features__table-tr .name h3 {
      justify-content: space-between;
      align-items: center;
      font-size: 1rem;
      font-weight: 300;
      display: flex;
    }
  }

  :where(.page-template-pricing) .features__table-tbody .features__table-tr .name h3 svg {
    display: none;
  }

  @media screen and (width >= 768px) {
    :where(.page-template-pricing) .features__table-tbody .features__table-tr .name h3 svg {
      width: 14px;
      height: 14px;
      transition: all .15s;
      display: block;
      rotate: 180deg;
    }
  }

  :where(.page-template-pricing) .features__table-tbody .features__table-tr .name .copy {
    padding-top: .5rem;
  }

  @media screen and (width >= 768px) {
    :where(.page-template-pricing) .features__table-tbody .features__table-tr .name .copy {
      display: none;
    }
  }

  :where(.page-template-pricing) .features__table-tbody .features__table-tr .product {
    text-align: center;
    color: #fff;
    align-content: center;
    padding: .5rem;
    font-size: clamp(.72rem, .62rem + .52vw, .94rem);
  }

  @media screen and (width >= 768px) {
    :where(.page-template-pricing) .features__table-tbody .features__table-tr .product {
      color: #000;
      border-left: 1px solid #000;
      padding: 1rem;
    }

    :where(.page-template-pricing) .features__table-tbody .features__table-tr .product .mobile-header {
      display: none;
    }
  }

  :where(.page-template-pricing) .features__table-tbody .features__table-tr .product svg {
    width: 1rem;
    height: 1rem;
  }

  @media screen and (width >= 768px) {
    :where(.page-template-pricing) .features__table-tbody .features__table-tr .product svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  :where(.page-template-pricing) .features__table-tbody .features__table-tr .essentials {
    background: #05b2dc;
    grid-area: essentials;
  }

  @media screen and (width >= 768px) {
    :where(.page-template-pricing) .features__table-tbody .features__table-tr .essentials {
      background: #e4f8fb;
    }
  }

  :where(.page-template-pricing) .features__table-tbody .features__table-tr .professional {
    background: #0e8181;
    grid-area: professional;
  }

  @media screen and (width >= 768px) {
    :where(.page-template-pricing) .features__table-tbody .features__table-tr .professional {
      background: #efeff6;
    }
  }

  :where(.page-template-pricing) .features__table-tbody .features__table-tr .comprehensive {
    background: #246ca0;
    grid-area: comprehensive;
  }

  @media screen and (width >= 768px) {
    :where(.page-template-pricing) .features__table-tbody .features__table-tr .comprehensive {
      background: #e7edf5;
    }
  }

  @media (width <= 767px) {
    :where(.page-template-pricing) .features__table-tbody .features__table-tr .checkmark path {
      fill: #fff;
    }

    :where(.page-template-pricing) .features__table-tbody .features__table-tr .x {
      opacity: .45;
    }

    :where(.page-template-pricing) .features__table-tbody .features__table-tr .x path {
      fill: #fff;
    }
  }

  :where(.page-template-pricing) .features__table .note {
    font-size: .6125rem;
    font-weight: 300;
    line-height: 1.1;
  }

  @media screen and (width >= 768px) {
    :where(.page-template-pricing) .features__table .note {
      font-size: .75rem;
      font-weight: 500;
    }
  }

  :where(.page-template-pricing) .features__table svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  :where(.page-template-pricing) section.cta {
    text-align: center;
    padding: 3rem 0 6rem;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-pricing) section.cta {
      padding: 3rem 0 0;
    }
  }

  :where(.page-template-pricing) .cta__copy {
    padding: 1rem 0;
  }
}
