@layer templates.search {
  :where(.search-results) .page-header .count {
    padding-top: 0.25rem;
    display: block;
    font-size: clamp(0.87rem, 0.74rem + 0.62vw, 1.13rem);
  }
  :where(.search-results) .search-result {
    background: #fff;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.1) 0px 20px 30px -12px, rgba(0, 0, 0, 0.0625) 0px 9px 18px -18px;
  }
  :where(.search-results) .search-result + .search-result {
    margin-top: 3rem;
  }
  :where(.search-results) .search-result.no-photo {
    min-height: 15vh;
  }
  :where(.search-results) .search-result a {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
  }
  :where(.search-results) .search-result .photo {
    display: none;
  }
  @media screen and (min-width: 768px) {
    :where(.search-results) .search-result .photo {
      display: block;
      aspect-ratio: 4/3;
      width: 25%;
    }
    :where(.search-results) .search-result .photo img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
    }
  }
  :where(.search-results) .search-result .photo img {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  :where(.search-results) .search-result .info {
    flex: 1;
    padding: 1.5rem 2rem;
  }
  :where(.search-results) .search-result .info h4 {
    display: inline-block;
    color: #2d77f8;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: clamp(0.6rem, 0.52rem + 0.43vw, 0.78rem);
    font-family: "Montserrat", sans-serif;
    margin-bottom: 0.25rem;
  }
  @media screen and (min-width: 992px) {
    :where(.search-results) .search-result .info h4 {
      font-size: clamp(0.5rem, 0.42rem + 0.38vw, 0.675rem);
    }
  }
  :where(.search-results) .search-result .info h3 {
    font-size: clamp(1.04rem, 0.89rem + 0.74vw, 1.35rem);
    margin: 0;
  }
  :where(.search-results) .search-result .info .copy {
    padding-top: 0.5rem;
  }
  :where(.search-results) .search-result.resource {
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
  }
  :where(.search-results) .search-result.resource .info {
    flex: 1;
    padding: 1.5rem 2rem;
  }
  @media screen and (min-width: 768px) {
    :where(.search-results) .search-result.resource .info {
      padding: 2rem 2.5rem;
    }
  }
  :where(.search-results) .search-result.resource .icon {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.5rem;
    display: flex;
    align-items: flex-start;
  }
  :where(.search-results) .search-result.resource .icon svg {
    width: 100%;
    height: 100%;
  }
  :where(.search-results) .search-result.resource .icon svg g,
  :where(.search-results) .search-result.resource .icon svg path {
    fill: #2d77f8;
  }
  :where(.search-results) .search-result.resource .thumbnail {
    aspect-ratio: 16/9;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
    transition: all 350ms ease;
    border-radius: 3px;
    margin-top: 1.5rem;
  }
  @media screen and (min-width: 768px) {
    :where(.search-results) .search-result.resource .thumbnail {
      width: 25%;
      margin-top: 0;
      margin-left: 2rem;
    }
  }
  @media screen and (min-width: 992px) {
    :where(.search-results) .search-result.resource .thumbnail {
      margin-top: 1.5rem;
      width: 100%;
    }
  }
  @media screen and (min-width: 1100px) {
    :where(.search-results) .search-result.resource .thumbnail {
      width: 25%;
      margin-top: 0;
    }
  }
  @media screen and (min-width: 1280px) {
    :where(.search-results) .search-result.resource .thumbnail {
      width: 18rem;
    }
  }
  :where(.search-results) .search-result.resource .thumbnail:hover {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  }
  :where(.search-results) .search-result.resource .thumbnail a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }
  :where(.search-results) .search-result.resource .thumbnail a:hover .play-btn {
    opacity: 1;
  }
  :where(.search-results) .search-result.resource .thumbnail .play-btn {
    position: absolute;
    z-index: 10;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    transition: all 350ms ease;
  }
  :where(.search-results) .search-result.resource .thumbnail .play-btn-wrapper {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.75);
  }
  @media screen and (min-width: 768px) {
    :where(.search-results) .search-result.resource .thumbnail .play-btn-wrapper {
      width: 2rem;
      height: 2rem;
    }
  }
  @media screen and (min-width: 1280px) {
    :where(.search-results) .search-result.resource .thumbnail .play-btn-wrapper {
      width: 3rem;
      height: 3rem;
    }
  }
  :where(.search-results) .search-result.resource .thumbnail .play-btn svg {
    width: 100%;
    height: 100%;
  }
  :where(.search-results) .search-result.resource .thumbnail .play-btn svg path {
    fill: #2d77f8;
  }
  :where(.search-results) .search-result.resource .thumbnail img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  :where(.search-results) .search-result.resource + article.resource {
    margin-top: 1rem;
  }
  :where(.search-results) .search-result.resource h3.title {
    font-size: clamp(1.5rem, 1.29rem + 1.07vw, 1.95rem);
    line-height: 1em;
  }
  :where(.search-results) .search-result.resource h3.title a {
    display: inline-block;
  }
  :where(.search-results) .search-result.resource h3.title a:hover {
    color: #2d77f8;
  }
  :where(.search-results) .search-result.resource h3.title a.has-icon {
    display: flex;
    align-items: center;
  }
  :where(.search-results) .search-result.resource .description {
    padding-top: 0.5rem;
  }
  :where(.search-results) .search-result.resource .cta {
    padding-top: 1rem;
  }
  :where(.search-results) .search-result.resource .cta .underline {
    line-height: 1.25em;
    display: inline-block;
    font-size: clamp(0.6rem, 0.52rem + 0.43vw, 0.78rem);
    border-bottom: 3px solid #2d77f8;
  }
  :where(.search-results) .search-result.resource .meta {
    padding-top: 1.5rem;
  }
  :where(.search-results) .search-result.resource .meta p {
    font-family: "Montserrat", sans-serif;
    font-size: clamp(0.6rem, 0.52rem + 0.43vw, 0.78rem);
  }
  @media screen and (min-width: 768px) {
    :where(.search-results) .search-result.resource .meta p {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }
  :where(.search-results) .search-result.resource .meta p span {
    display: flex;
    align-items: center;
  }
  :where(.search-results) .search-result.resource .meta p span strong {
    display: block;
  }
  :where(.search-results) .search-result.resource .meta p span em {
    font-style: normal;
    display: block;
    margin-left: 0.25rem;
    opacity: 0.5;
  }
  :where(.search-results) .search-result.resource .meta p span + span {
    margin-top: 0.25rem;
  }
  @media screen and (min-width: 768px) {
    :where(.search-results) .search-result.resource .meta p span + span {
      margin-top: 0;
      margin-left: 1.5rem;
    }
  }
  :where(.search-results) .search-result.resource .meta p span.file-type em {
    text-transform: uppercase;
  }
  :where(.search-results) .search-result.resource.video {
    align-items: flex-start;
    padding: 1.5rem 2rem;
  }
  @media screen and (min-width: 768px) {
    :where(.search-results) .search-result.resource.video {
      padding: 2rem 2.5rem;
    }
  }
  :where(.search-results) .search-result.resource.video .info {
    padding: unset;
  }
  :where(.search-results) .search-result.resource .video-player .embed {
    aspect-ratio: 16/9;
  }
  :where(.search-results) .search-result.resource .video-player iframe {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  :where(.search-results) .pagination {
    margin-top: 3rem;
    border-top: 2px solid #0a2d6b;
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-bottom: 6rem;
    gap: 1rem;
  }
  @media screen and (min-width: 992px) {
    :where(.search-results) .pagination {
      padding-bottom: 0;
    }
  }
  :where(.search-results) .pagination a {
    font-weight: bold;
    display: block;
    padding: 0.5rem 1rem;
    border: 2px solid;
    color: #0a2d6b;
    font-size: clamp(0.72rem, 0.62rem + 0.52vw, 0.94rem);
  }
  :where(.search-results) .pagination a:hover {
    background: #0a2d6b;
    color: #fff;
    text-decoration: none;
    border-color: #0a2d6b;
  }
  :where(.search-results) .pagination span.current {
    font-weight: bold;
    display: block;
    padding: 0.5rem 1rem;
    border: 2px solid #0a2d6b;
    background: #0a2d6b;
    color: #fff;
    font-size: clamp(0.72rem, 0.62rem + 0.52vw, 0.94rem);
  }
}