@layer templates.single-customer-stories {
  :where(.single-customer_stories) article.customer_stories {
    gap: 2rem;
    padding-top: clamp(1.25rem, 5vh, 2.5rem);
    padding-bottom: clamp(1.25rem, 5vh, 2.5rem);
  }

  @media screen and (width >= 992px) {
    :where(.single-customer_stories) article.customer_stories {
      padding-top: clamp(2.5rem, 7.5vh, 3.75rem);
      padding-bottom: clamp(2.5rem, 7.5vh, 3.75rem);
    }
  }

  @media screen and (width >= 768px) {
    :where(.single-customer_stories) article.customer_stories .article-header {
      grid-column: 3 / span 6;
    }
  }

  @media screen and (width >= 992px) {
    :where(.single-customer_stories) article.customer_stories .article-header {
      grid-column: 2 / span 12;
    }
  }

  :where(.single-customer_stories) article.customer_stories .article-header .back a {
    text-transform: uppercase;
    letter-spacing: .15em;
    color: #2d77f8;
    font-size: clamp(.6rem, .52rem + .43vw, .78rem);
  }

  :where(.single-customer_stories) article.customer_stories .article-header .back a:before {
    content: "← ";
  }

  :where(.single-customer_stories) article.customer_stories .article-header .back a:hover {
    text-decoration: underline;
  }

  :where(.single-customer_stories) article.customer_stories .article-header h1 {
    color: #0a2d6b;
    font-size: clamp(2.59rem, 2.22rem + 1.85vw, 3.37rem);
  }

  @media screen and (width >= 992px) {
    :where(.single-customer_stories) article.customer_stories .article-header h1 {
      font-size: clamp(3.11rem, 2.67rem + 2.22vw, 4.625em);
    }
  }

  :where(.single-customer_stories) article.customer_stories .article-body {
    background: #fff;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 20px 30px -12px #32325d1a, 0 9px 18px -18px #00000010;
  }

  @media screen and (width >= 768px) {
    :where(.single-customer_stories) article.customer_stories .article-body {
      grid-column: 3 / span 6;
    }
  }

  @media screen and (width >= 992px) {
    :where(.single-customer_stories) article.customer_stories .article-body {
      grid-column: 6 / span 8;
      padding: 2rem;
    }
  }

  :where(.single-customer_stories) article.customer_stories .article-body .featured-video {
    aspect-ratio: 16 / 9;
    margin-bottom: 2rem;
  }

  :where(.single-customer_stories) article.customer_stories .article-body .featured-video iframe {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  :where(.single-customer_stories) article.customer_stories .article-body .featured-image {
    padding-bottom: 2rem;
  }

  :where(.single-customer_stories) article.customer_stories .article-body .featured-image img {
    border-radius: 5px;
  }

  :where(.single-customer_stories) article.customer_stories .article-body .title h2 {
    color: #2d77f8;
    font-size: clamp(1.5rem, 1.29rem + 1.07vw, 1.95rem);
    font-weight: 600;
    line-height: 1.125em;
  }

  :where(.single-customer_stories) article.customer_stories .article-body .copy-2 {
    padding: 0 1rem;
    line-height: 1.675em;
  }

  :where(.single-customer_stories) article.customer_stories .article-body blockquote {
    color: #fff;
    background: #0a2d6b;
    border-radius: 10px;
    padding: 2rem;
  }

  @media screen and (width >= 992px) {
    :where(.single-customer_stories) article.customer_stories .article-body blockquote {
      padding: 3rem;
    }
  }

  :where(.single-customer_stories) article.customer_stories .article-body blockquote p {
    font-size: clamp(.87rem, .74rem + .62vw, 1.13rem);
    font-weight: 400;
    line-height: 1.75em;
  }

  @media screen and (width >= 992px) {
    :where(.single-customer_stories) article.customer_stories .article-body blockquote p {
      font-size: clamp(1.04rem, .89rem + .74vw, 1.35rem);
    }
  }

  :where(.single-customer_stories) article.customer_stories .article-body blockquote p + p {
    margin-top: 1rem;
  }

  :where(.single-customer_stories) article.customer_stories .article-body blockquote h4 {
    text-transform: uppercase;
    padding-top: 2rem;
    font-family: Montserrat, sans-serif;
    font-size: clamp(.72rem, .62rem + .52vw, .94rem);
    line-height: 1.5em;
  }

  :where(.single-customer_stories) article.customer_stories .article-body h3 {
    color: #0a2d6b;
  }

  :where(.single-customer_stories) article.customer_stories .article-body h3 + * {
    margin-top: .5rem;
  }

  :where(.single-customer_stories) article.customer_stories .article-body .documents {
    flex-wrap: wrap;
    display: flex;
  }

  :where(.single-customer_stories) article.customer_stories .article-body .documents .document {
    width: 100%;
  }

  @media screen and (width >= 1280px) {
    :where(.single-customer_stories) article.customer_stories .article-body .documents .document {
      width: auto;
      margin-right: 1.5rem;
    }
  }

  :where(.single-customer_stories) article.customer_stories .article-body .documents .document + .document {
    margin-top: 1rem;
  }

  @media screen and (width >= 1280px) {
    :where(.single-customer_stories) article.customer_stories .article-body .documents .document + .document {
      margin-top: 0;
    }
  }

  :where(.single-customer_stories) article.customer_stories .article-body .documents .btn {
    text-decoration: none;
  }

  :where(.single-customer_stories) article.customer_stories .article-body .links .link + .link {
    margin-top: 1rem;
  }

  :where(.single-customer_stories) article.customer_stories .article-body .links .link a {
    color: #000;
    align-items: center;
    font-family: Montserrat, sans-serif;
    font-size: clamp(.66rem, .58rem + .48vw, .88rem);
    line-height: 1.375em;
    text-decoration: none;
    display: flex;
  }

  :where(.single-customer_stories) article.customer_stories .article-body .links .link a .icon {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
  }

  :where(.single-customer_stories) article.customer_stories .article-body .links .link a .icon svg {
    object-fit: contain;
    fill: #000;
    width: 100%;
    height: 100%;
  }

  :where(.single-customer_stories) article.customer_stories .article-body .links .link a .icon svg g, :where(.single-customer_stories) article.customer_stories .article-body .links .link a .icon svg path {
    fill: #000;
  }

  :where(.single-customer_stories) article.customer_stories .article-body .links .link a .label {
    flex: 1;
    max-width: 30rem;
    padding-left: 1rem;
  }

  :where(.single-customer_stories) article.customer_stories .article-sidebar .copy-3 {
    background: #fff;
    border-radius: 10px;
    padding: 1.5rem;
    font-style: italic;
    line-height: 1.675em;
    box-shadow: 0 20px 30px -12px #32325d1a, 0 9px 18px -18px #00000010;
  }

  @media screen and (width >= 992px) {
    :where(.single-customer_stories) article.customer_stories .article-sidebar .copy-3 {
      padding: 2rem;
    }
  }

  @media screen and (width >= 768px) {
    :where(.single-customer_stories) article.customer_stories .article-sidebar {
      grid-column: 3 / span 6;
    }
  }

  @media screen and (width >= 992px) {
    :where(.single-customer_stories) article.customer_stories .article-sidebar {
      grid-area: 2 / 2 / auto / span 4;
    }
  }

  :where(.single-customer_stories) article.customer_stories .article-footer {
    padding-top: 2rem;
  }

  @media screen and (width >= 992px) {
    :where(.single-customer_stories) article.customer_stories .article-footer {
      padding-top: 4rem;
    }
  }

  :where(.single-customer_stories) article.customer_stories .article-footer .related .section-header {
    padding-bottom: 1rem;
  }

  @media screen and (width >= 992px) {
    :where(.single-customer_stories) article.customer_stories .article-footer .related .section-header {
      padding-bottom: 2rem;
    }
  }

  :where(.single-customer_stories) article.customer_stories .article-footer .related .section-title {
    color: #0a2d6b;
  }

  :where(.single-customer_stories) article.customer_stories section.call-to-action {
    color: #fff;
    background-image: linear-gradient(90deg, #f3a530 0%, #ebca38 100%);
    border-radius: 10px;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: clamp(2.5rem, 10vh, 5rem);
    padding: 1.5rem 3rem;
    display: flex;
    box-shadow: 0 20px 30px -12px #32325d1a, 0 9px 18px -18px #00000010;
  }

  @media screen and (width >= 992px) {
    :where(.single-customer_stories) article.customer_stories section.call-to-action {
      margin-bottom: clamp(5rem, 15vh, 7.5rem);
    }
  }

  :where(.single-customer_stories) article.customer_stories section.call-to-action .icon {
    width: 4rem;
    margin-right: 2rem;
  }

  :where(.single-customer_stories) article.customer_stories section.call-to-action .info {
    width: 100%;
    padding: 1rem 0;
  }

  @media screen and (width >= 768px) {
    :where(.single-customer_stories) article.customer_stories section.call-to-action .info {
      width: unset;
      flex: 1;
      max-width: 40rem;
      padding: 0;
    }
  }

  :where(.single-customer_stories) article.customer_stories section.call-to-action .info .headline {
    padding-bottom: .25rem;
  }

  :where(.single-customer_stories) article.customer_stories section.call-to-action .info .headline h3 {
    font-size: clamp(1.04rem, .89rem + .74vw, 1.35rem);
  }

  @media screen and (width >= 768px) {
    :where(.single-customer_stories) article.customer_stories section.call-to-action .cta {
      margin-left: auto;
    }
  }

  :where(.single-customer_stories) article.customer_stories section.call-to-action .cta .btn {
    white-space: nowrap;
  }

  :where(.single-customer_stories) article.customer_stories section.call-to-action .cta .btn:hover {
    color: #f3a041;
  }
}
