@layer templates.solutions {
  :where(.page-template-solutions) section.solutions {
    padding-top: clamp(2.5rem, 10vh, 5rem);
    padding-bottom: clamp(2.5rem, 10vh, 5rem);
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions) section.solutions {
      padding-top: clamp(5rem, 15vh, 7.5rem);
      padding-bottom: clamp(5rem, 15vh, 7.5rem);
    }
  }

  :where(.page-template-solutions) section.solutions .solution {
    align-items: center;
    gap: 2rem;
    display: grid;
  }

  @media screen and (width >= 480px) {
    :where(.page-template-solutions) section.solutions .solution {
      grid-column: 3 / span 6;
    }
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions) section.solutions .solution {
      grid-column: 2 / span 12;
      grid-template-columns: repeat(12, 1fr);
    }
  }

  :where(.page-template-solutions) section.solutions .solution + .solution {
    padding-top: clamp(2.5rem, 10vh, 5rem);
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions) section.solutions .solution + .solution {
      padding-top: clamp(5rem, 15vh, 7.5rem);
    }
  }

  :where(.page-template-solutions) section.solutions .solution.center .info {
    text-align: center;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions) section.solutions .solution.center .info {
      grid-column: 2 / span 10;
    }
  }

  :where(.page-template-solutions) section.solutions .solution.center .info .copy {
    max-width: unset;
  }

  :where(.page-template-solutions) section.solutions .solution .photo {
    aspect-ratio: 16 / 9;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions) section.solutions .solution .photo {
      aspect-ratio: unset;
      grid-area: 1 / 1 / auto / span 5;
    }
  }

  :where(.page-template-solutions) section.solutions .solution .photo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions) section.solutions .solution .info {
      grid-area: 1 / 7 / auto / span 5;
    }
  }

  :where(.page-template-solutions) section.solutions .solution .info .sub-headline.copy {
    padding: .5rem 0 0;
  }

  :where(.page-template-solutions) section.solutions .solution .info .sub-headline.copy h4 {
    color: #5c5c5c;
  }

  :where(.page-template-solutions) section.solutions .solution .info .copy {
    max-width: 34rem;
    padding: 1rem 0 2rem;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions) section.solutions .solution:nth-child(2n) .photo {
      grid-area: 1 / 7 / auto / span 5;
    }

    :where(.page-template-solutions) section.solutions .solution:nth-child(2n) .info {
      grid-area: 1 / 1 / auto / span 6;
    }
  }
}
