@layer templates.solutions-cloud {
  :where(.page-template-solutions-cloud) section.solutions-intro {
    padding-top: clamp(2.5rem, 10vh, 5rem);
    padding-bottom: clamp(2.5rem, 10vh, 5rem);
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions-cloud) section.solutions-intro {
      padding-top: clamp(5rem, 15vh, 7.5rem);
      padding-bottom: clamp(5rem, 15vh, 7.5rem);
    }

    :where(.page-template-solutions-cloud) section.solutions-intro .copy {
      line-height: 2rem;
    }
  }

  :where(.page-template-solutions-cloud) section.solutions-intro .photo img {
    width: 100%;
  }

  :where(.page-template-solutions-cloud) .related {
    grid-template-columns: minmax(0, auto) repeat(4, minmax(auto, 1fr)) minmax(0, auto);
    gap: 0 2rem;
    padding-top: clamp(1.25rem, 5vh, 2.5rem);
    padding-bottom: clamp(1.25rem, 5vh, 2.5rem);
    display: grid;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions-cloud) .related {
      padding-top: clamp(2.5rem, 7.5vh, 3.75rem);
      padding-bottom: clamp(2.5rem, 7.5vh, 3.75rem);
    }
  }

  @media screen and (width >= 480px) {
    :where(.page-template-solutions-cloud) .related {
      grid-template-columns: minmax(0, auto) repeat(8, minmax(auto, 1fr)) minmax(0, auto);
    }
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions-cloud) .related {
      grid-template-columns: minmax(0, auto) repeat(12, minmax(0, 4.5rem)) minmax(0, auto);
      padding-bottom: 0;
    }
  }

  @media screen and (width >= 1280px) {
    :where(.page-template-solutions-cloud) .related {
      padding-top: clamp(2.5rem, 10vh, 5rem);
    }
  }

  @media screen and (width >= 1280px) and (width >= 992px) {
    :where(.page-template-solutions-cloud) .related {
      padding-top: clamp(5rem, 15vh, 7.5rem);
    }
  }

  :where(.page-template-solutions-cloud) .related > * {
    grid-column: 2 / span 4;
  }

  @media screen and (width >= 480px) {
    :where(.page-template-solutions-cloud) .related > * {
      grid-column: 2 / span 8;
    }
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions-cloud) .related > * {
      grid-column: 2 / span 12;
    }
  }

  :where(.page-template-solutions-cloud) .related .section-header {
    padding-bottom: 2rem;
  }

  :where(.page-template-solutions-cloud) .cloud-intro {
    background: #f4f7f9;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions-cloud) .cloud-intro {
      align-items: center;
    }
  }

  @media screen and (width >= 768px) {
    :where(.page-template-solutions-cloud) .cloud-intro .photo {
      grid-column: 3 / span 6;
    }
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions-cloud) .cloud-intro .photo {
      grid-area: 1 / 8 / auto / span 6;
    }
  }

  :where(.page-template-solutions-cloud) .cloud-intro .photo img {
    width: 100%;
  }

  :where(.page-template-solutions-cloud) .cloud-intro .info {
    z-index: 10;
    background: #fff;
    border: 1px solid #e5e5e5;
    max-width: 90%;
    padding: 1.5rem 2rem;
    transform: translate3d(-2.5%, -7.5%, 0);
    box-shadow: 0 4px 12px #00000026;
  }

  @media screen and (width >= 768px) {
    :where(.page-template-solutions-cloud) .cloud-intro .info {
      grid-column: 3 / span 6;
      padding: 2rem 2.5rem;
      transform: translate3d(-15%, -15%, 0);
    }
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions-cloud) .cloud-intro .info {
      transform: unset;
      max-width: unset;
      grid-area: 1 / 2 / auto / span 7;
    }
  }

  :where(.page-template-solutions-cloud) .cloud-intro .info .headline {
    padding-bottom: 1rem;
  }

  :where(.page-template-solutions-cloud) .cloud-intro .info .headline h2 {
    font-size: clamp(1.25rem, 1.7vw, 1.5rem);
  }

  :where(.page-template-solutions-cloud) section.cloud-hybrid {
    background: #fff;
    padding-top: clamp(2.5rem, 10vh, 5rem);
    padding-bottom: clamp(2.5rem, 10vh, 5rem);
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions-cloud) section.cloud-hybrid {
      padding-top: clamp(5rem, 15vh, 7.5rem);
      padding-bottom: clamp(5rem, 15vh, 7.5rem);
    }
  }

  :where(.page-template-solutions-cloud) section.cloud-hybrid .section-header {
    padding-bottom: 3rem;
  }

  :where(.page-template-solutions-cloud) section.cloud-hybrid .section-header .section-title {
    padding-bottom: 1rem;
  }

  @media screen and (width >= 768px) {
    :where(.page-template-solutions-cloud) section.cloud-hybrid .features {
      grid-column: 3 / span 6;
    }
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions-cloud) section.cloud-hybrid .features {
      grid-column: 3 / span 10;
      grid-template-columns: repeat(2, 1fr);
      gap: 3rem;
      display: grid;
    }
  }

  :where(.page-template-solutions-cloud) section.cloud-hybrid .feature {
    background: #fff;
    border: 1px solid #e5e5e5;
    padding: 1.5rem 2rem;
    box-shadow: 0 4px 12px #00000026;
  }

  @media screen and (width >= 768px) {
    :where(.page-template-solutions-cloud) section.cloud-hybrid .feature {
      padding: 2rem 2.5rem;
    }
  }

  :where(.page-template-solutions-cloud) section.cloud-hybrid .feature + .feature {
    margin-top: 3rem;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions-cloud) section.cloud-hybrid .feature + .feature {
      margin-top: 0;
    }
  }

  :where(.page-template-solutions-cloud) section.cloud-hybrid .feature-header {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    display: flex;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions-cloud) section.cloud-hybrid .feature-header {
      padding-bottom: 2rem;
    }
  }

  :where(.page-template-solutions-cloud) section.cloud-hybrid .feature .icon {
    align-items: center;
    width: 5.5rem;
    height: 3rem;
    display: flex;
  }

  :where(.page-template-solutions-cloud) section.cloud-hybrid .feature .icon img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  :where(.page-template-solutions-cloud) section.cloud-hybrid .feature .headline {
    flex: 1;
  }

  :where(.page-template-solutions-cloud) section.cloud-hybrid .feature .cta {
    padding-top: 2rem;
  }

  :where(.page-template-solutions-cloud) section.opendrives-anywhere {
    color: #fff;
    background: #000;
    padding-top: clamp(2.5rem, 10vh, 5rem);
    padding-bottom: clamp(2.5rem, 10vh, 5rem);
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions-cloud) section.opendrives-anywhere {
      padding-top: clamp(5rem, 15vh, 7.5rem);
      padding-bottom: clamp(5rem, 15vh, 7.5rem);
    }
  }

  @media screen and (width >= 768px) {
    :where(.page-template-solutions-cloud) section.opendrives-anywhere > * {
      grid-column: 3 / span 6;
    }
  }

  :where(.page-template-solutions-cloud) section.opendrives-anywhere .section-header {
    padding-bottom: 2rem;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions-cloud) section.opendrives-anywhere .section-header {
      grid-column: 2 / span 12;
      padding-bottom: 4rem;
    }
  }

  :where(.page-template-solutions-cloud) section.opendrives-anywhere .section-header .logo {
    width: 100%;
    max-width: 56rem;
    margin: 0 auto;
    padding-top: 2rem;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions-cloud) section.opendrives-anywhere .section-header .logo {
      padding-bottom: 2rem;
    }
  }

  :where(.page-template-solutions-cloud) section.opendrives-anywhere .photo img {
    width: 100%;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions-cloud) section.opendrives-anywhere .photo {
      grid-area: 2 / 9 / auto / span 5;
    }
  }

  :where(.page-template-solutions-cloud) section.opendrives-anywhere .copy {
    padding-top: 2rem;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions-cloud) section.opendrives-anywhere .copy {
      grid-area: 2 / 3 / auto / span 5;
      padding-top: 0;
    }
  }

  :where(.page-template-solutions-cloud) section.opendrives-anywhere .copy .cta {
    padding-top: 1rem;
  }
}
