@layer templates.solutions-2025 {
  :where(.page-template-solutions-2025) {
    background: #fff;
  }

  :where(.page-template-solutions-2025) .about {
    padding: 4rem 0;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions-2025) .about {
      padding: 8rem 0;
    }
  }

  :where(.page-template-solutions-2025) .about__headline {
    padding-bottom: 1rem;
  }

  :where(.page-template-solutions-2025) .about__content {
    gap: 2rem;
    display: grid;
  }

  @media screen and (width >= 768px) {
    :where(.page-template-solutions-2025) .about__content {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 4rem;
    }
  }

  @media screen and (width >= 1280px) {
    :where(.page-template-solutions-2025) .about__content {
      gap: 6rem;
    }
  }

  :where(.page-template-solutions-2025) .about .copy {
    padding-top: 1rem;
    line-height: 1.6;
  }

  :where(.page-template-solutions-2025) .about__rect-top {
    grid-column: 1;
    width: 4rem;
    position: absolute;
    top: 0;
    left: 25%;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions-2025) .about__rect-top {
      width: 10rem;
    }
  }

  :where(.page-template-solutions-2025) .about__rect-right {
    grid-column: 1;
    width: 2rem;
    position: absolute;
    top: 60%;
    right: 0;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions-2025) .about__rect-right {
      width: 5rem;
    }
  }

  :where(.page-template-solutions-2025) .challenges {
    padding: 4rem 0;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions-2025) .challenges {
      padding: 8rem 0;
    }

    :where(.page-template-solutions-2025) .challenges__content {
      grid-column: 2 / span 5;
    }
  }

  :where(.page-template-solutions-2025) .challenges__headline {
    padding-bottom: 1rem;
    text-align: left !important;
  }

  :where(.page-template-solutions-2025) .challenges__copy-top {
    line-height: 1.6;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions-2025) .challenges__copy-top {
      grid-column: 8 / span 6;
    }
  }

  :where(.page-template-solutions-2025) .challenges__diagram {
    grid-template-areas: "a"
                         "b"
                         "c"
                         "d"
                         "e"
                         "f";
    gap: 2rem;
    padding: 2rem 0;
    display: grid;
  }

  @media screen and (width >= 768px) {
    :where(.page-template-solutions-2025) .challenges__diagram {
      grid-template-areas: "a b"
                           "d c"
                           "e f";
    }
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions-2025) .challenges__diagram {
      grid-column: 3 / span 10;
      grid-template-areas: "a b c"
                           "f e d";
      gap: 4rem 3rem;
      padding-top: 6rem;
    }
  }

  :where(.page-template-solutions-2025) .challenges__diagram-step {
    align-items: start;
    gap: 1rem;
    display: grid;
  }

  :where(.page-template-solutions-2025) .challenges__diagram-step-1 {
    grid-area: a;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions-2025) .challenges__diagram-step-1 .challenges__diagram-copy {
      grid-row: -1;
    }
  }

  :where(.page-template-solutions-2025) .challenges__diagram-step-2 {
    grid-area: b;
  }

  :where(.page-template-solutions-2025) .challenges__diagram-step-3 {
    grid-area: c;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions-2025) .challenges__diagram-step-3 .challenges__diagram-copy {
      grid-row: -1;
    }
  }

  :where(.page-template-solutions-2025) .challenges__diagram-step-4 {
    grid-area: d;
  }

  :where(.page-template-solutions-2025) .challenges__diagram-step-5 {
    grid-area: e;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions-2025) .challenges__diagram-step-5 .challenges__diagram-copy {
      grid-row: -1;
    }
  }

  :where(.page-template-solutions-2025) .challenges__diagram-step-6 {
    grid-area: f;
  }

  :where(.page-template-solutions-2025) .challenges__diagram-graphic {
    max-width: 16rem;
    margin: 0 auto;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions-2025) .challenges__diagram-copy {
      padding: 0 2rem;
    }
  }

  :where(.page-template-solutions-2025) .challenges__diagram-copy p {
    font-size: clamp(.72rem, .62rem + .52vw, .94rem);
    line-height: 1.4;
  }

  :where(.page-template-solutions-2025) .challenges__copy-bottom {
    margin-top: 2rem;
    line-height: 1.6;
  }

  :where(.page-template-solutions-2025) .challenges__blob {
    z-index: -1;
    grid-column: 1;
    width: 6rem;
    position: absolute;
    top: -10%;
    left: 0%;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions-2025) .challenges__blob {
      width: 10rem;
    }
  }

  :where(.page-template-solutions-2025) .challenges__rect-right {
    grid-column: 1;
    width: 2rem;
    position: absolute;
    top: 30%;
    right: 0;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions-2025) .challenges__rect-right {
      width: 4rem;
    }
  }

  :where(.page-template-solutions-2025) .customer-driven {
    padding: 4rem 0;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions-2025) .customer-driven {
      padding: 8rem 0;
    }
  }

  :where(.page-template-solutions-2025) .customer-driven__content {
    align-items: start;
    gap: 4rem;
    display: grid;
  }

  :where(.page-template-solutions-2025) .customer-driven__headline {
    padding-bottom: 3rem;
  }

  :where(.page-template-solutions-2025) .customer-driven__card {
    gap: 2rem;
    display: grid;
  }

  @media screen and (width >= 768px) {
    :where(.page-template-solutions-2025) .customer-driven__card {
      grid-template-columns: 1.25fr 1fr;
      gap: 4rem;
    }

    :where(.page-template-solutions-2025) .customer-driven__card-1 {
      grid-template-columns: 1fr 1.25fr;
    }

    :where(.page-template-solutions-2025) .customer-driven__card-1 .customer-driven__copy-1 {
      order: -1;
    }
  }

  :where(.page-template-solutions-2025) .customer-driven__blob {
    z-index: -1;
    grid-column: 1;
    width: 6rem;
    position: absolute;
    top: -10%;
    right: 0%;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions-2025) .customer-driven__blob {
      width: 18rem;
    }
  }

  :where(.page-template-solutions-2025) .solutions {
    padding: 4rem 0;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions-2025) .solutions {
      padding: 8rem 0;
    }
  }

  :where(.page-template-solutions-2025) .solutions__headline {
    padding-bottom: 1rem;
  }

  :where(.page-template-solutions-2025) .solutions__products {
    gap: 2rem;
    display: grid;
  }

  @media screen and (width >= 768px) {
    :where(.page-template-solutions-2025) .solutions__products {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 2rem;
    }
  }

  :where(.page-template-solutions-2025) .solutions__product {
    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    padding: 4rem 2rem 3rem;
    box-shadow: 0 2px 12px #0000001a;
  }

  :where(.page-template-solutions-2025) .solutions__product:first-child {
    background: #fff url("../../../src/images/home-2025/blob-small-orange.png") 0 0 no-repeat;
  }

  :where(.page-template-solutions-2025) .solutions__product:nth-child(2) {
    background: #fff url("../../../src/images/home-2025/blob-small-pink.png") top no-repeat;
  }

  :where(.page-template-solutions-2025) .solutions__product:nth-child(3) {
    background: #fff url("../../../src/images/home-2025/blob-small-blue.png") 100% 0 no-repeat;
  }

  :where(.page-template-solutions-2025) .solutions__product-logo {
    margin-bottom: 1rem;
  }

  :where(.page-template-solutions-2025) .solutions__product-headline {
    color: #141414;
    margin: 0;
    font-size: clamp(.72rem, .62rem + .52vw, .94rem);
    font-weight: 600;
    line-height: 1.3;
  }

  :where(.page-template-solutions-2025) .solutions__product-copy {
    padding: 1rem 0;
  }

  :where(.page-template-solutions-2025) .solutions__product-link {
    text-align: right;
    margin-top: auto;
  }

  :where(.page-template-solutions-2025) .solutions__product-link a {
    color: #206cf8;
    font-size: clamp(.72rem, .62rem + .52vw, .94rem);
    font-weight: 500;
    text-decoration: none;
  }

  :where(.page-template-solutions-2025) .solutions__product-link a:hover {
    text-decoration: underline;
  }

  :where(.page-template-solutions-2025) .solutions__rect-right {
    grid-column: 1;
    width: 2rem;
    position: absolute;
    top: 40%;
    right: 0;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions-2025) .solutions__rect-right {
      width: 4rem;
    }
  }

  :where(.page-template-solutions-2025) .use-cases {
    padding: 4rem 0;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions-2025) .use-cases {
      padding: 8rem 0;
    }
  }

  :where(.page-template-solutions-2025) .use-cases__headline {
    letter-spacing: -.02em;
    color: #141414;
    margin-bottom: 2rem;
    font-size: clamp(2.16rem, 1.85rem + 1.54vw, 2.81rem);
    font-weight: 150;
    line-height: 1.1em;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions-2025) .use-cases__headline {
      font-size: clamp(3.11rem, 2.67rem + 2.22vw, 4.625em);
    }
  }

  :where(.page-template-solutions-2025) .use-cases__copy {
    text-align: center;
    margin-bottom: 3rem;
    font-weight: 350;
    line-height: 1.6;
  }

  :where(.page-template-solutions-2025) .use-cases__me-headline, :where(.page-template-solutions-2025) .use-cases__other-industries-headline {
    color: #141414;
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: clamp(.87rem, .74rem + .62vw, 1.13rem);
    font-weight: 600;
  }

  :where(.page-template-solutions-2025) .use-cases__me-table {
    border: 1px solid #000;
    align-items: start;
    gap: 0;
    max-width: 60rem;
    margin: 0 auto;
    display: grid;
  }

  @media screen and (width >= 768px) {
    :where(.page-template-solutions-2025) .use-cases__me-table {
      grid-template-columns: 1fr 1fr;
    }
  }

  :where(.page-template-solutions-2025) .use-cases__me-column {
    align-items: start;
    display: grid;
  }

  @media screen and (width >= 768px) {
    :where(.page-template-solutions-2025) .use-cases__me-column {
      border-right: 1px solid #000;
    }

    :where(.page-template-solutions-2025) .use-cases__me-column:last-child {
      border-right: none;
    }
  }

  :where(.page-template-solutions-2025) .use-cases__me-header {
    color: #fff;
    text-align: center;
    background: #206cf8;
    border-bottom: 1px solid #000;
    margin: 0;
    padding: 1rem;
    font-size: clamp(.87rem, .74rem + .62vw, 1.13rem);
    font-weight: 600;
  }

  :where(.page-template-solutions-2025) .use-cases__me-copy {
    align-self: start;
    padding: 2rem;
    font-size: clamp(.72rem, .62rem + .52vw, .94rem);
    line-height: 1.4;
  }

  :where(.page-template-solutions-2025) .use-cases__me-copy ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  :where(.page-template-solutions-2025) .use-cases__other-industries {
    padding: 4rem 0;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions-2025) .use-cases__other-industries {
      padding: 8rem 0;
    }
  }

  :where(.page-template-solutions-2025) .use-cases__other-industries-headline {
    text-wrap: balance;
  }

  :where(.page-template-solutions-2025) .use-cases__other-industries-list {
    max-width: 60rem;
    margin: 0 auto;
    line-height: 1.6;
  }

  :where(.page-template-solutions-2025) .use-cases__other-industries-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  @media screen and (width >= 768px) {
    :where(.page-template-solutions-2025) .use-cases__other-industries-list ul {
      columns: 2;
      column-gap: 2rem;
    }
  }

  :where(.page-template-solutions-2025) .use-cases__workflows {
    border: 1px solid #000;
  }

  :where(.page-template-solutions-2025) .use-cases__workflows-header {
    display: none;
  }

  @media screen and (width >= 768px) {
    :where(.page-template-solutions-2025) .use-cases__workflows-header {
      color: #fff;
      text-align: center;
      background: #206cf8;
      border-bottom: 1px solid #000;
      grid-template-columns: 1fr 1fr;
      margin: 0;
      font-size: clamp(.87rem, .74rem + .62vw, 1.13rem);
      font-weight: 600;
      display: grid;
    }
  }

  :where(.page-template-solutions-2025) .use-cases__workflows-header-item {
    padding: 1rem;
  }

  :where(.page-template-solutions-2025) .use-cases__workflows-header-item:first-child {
    border-right: 1px solid #000;
  }

  :where(.page-template-solutions-2025) .use-cases__workflows-item {
    color: #fff;
    text-align: center;
    background: #206cf8;
    padding: 1.5rem;
    font-size: clamp(.72rem, .62rem + .52vw, .94rem);
    font-weight: 600;
  }

  :where(.page-template-solutions-2025) .use-cases__workflows-content {
    gap: 0;
    display: grid;
    overflow: hidden;
  }

  :where(.page-template-solutions-2025) .use-cases__workflows-row {
    border-bottom: 1px solid #000;
    gap: 0;
    display: grid;
  }

  :where(.page-template-solutions-2025) .use-cases__workflows-row:last-child {
    border-bottom: none;
  }

  @media screen and (width >= 768px) {
    :where(.page-template-solutions-2025) .use-cases__workflows-row {
      grid-template-columns: 1fr 1fr;
    }
  }

  :where(.page-template-solutions-2025) .use-cases__workflows-workflow {
    color: #000;
    background: #fafafa;
    border-bottom: 1px solid #d5d5d5;
    padding: 2rem;
    font-weight: 600;
  }

  @media screen and (width >= 768px) {
    :where(.page-template-solutions-2025) .use-cases__workflows-workflow {
      background: unset;
      border-right: 1px solid #000;
      border-bottom: unset;
      color: unset;
    }
  }

  :where(.page-template-solutions-2025) .use-cases__workflows-workflow:before {
    content: "Workflow";
    color: #206cf8;
    margin-bottom: .25rem;
    font-size: clamp(.87rem, .74rem + .62vw, 1.13rem);
    font-weight: 600;
    display: block;
  }

  @media screen and (width >= 768px) {
    :where(.page-template-solutions-2025) .use-cases__workflows-workflow:before {
      display: none;
    }
  }

  :where(.page-template-solutions-2025) .use-cases__workflows-use-cases {
    padding: 2rem;
    line-height: 1.4;
  }

  :where(.page-template-solutions-2025) .use-cases__workflows-use-cases ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  :where(.page-template-solutions-2025) .use-cases__workflows-use-cases ul:before {
    content: "Uses Cases";
    color: #206cf8;
    margin-bottom: 1rem;
    font-size: clamp(.87rem, .74rem + .62vw, 1.13rem);
    font-weight: 600;
    display: block;
  }

  @media screen and (width >= 768px) {
    :where(.page-template-solutions-2025) .use-cases__workflows-use-cases ul:before {
      display: none;
    }
  }

  :where(.page-template-solutions-2025) .use-cases__rect-left {
    grid-column: 1;
    width: 2rem;
    position: absolute;
    top: 15%;
    left: 0;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions-2025) .use-cases__rect-left {
      width: 4rem;
    }
  }

  :where(.page-template-solutions-2025) .use-cases__rect-right {
    grid-column: 1;
    width: 2rem;
    position: absolute;
    top: 35%;
    right: 0;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions-2025) .use-cases__rect-right {
      width: 4rem;
    }
  }

  :where(.page-template-solutions-2025) .section-headline-2025 {
    letter-spacing: -.02em;
    color: #141414;
    text-align: center;
    font-size: clamp(2.16rem, 1.85rem + 1.54vw, 2.81rem);
    font-weight: 150;
    line-height: 1.1em;
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions-2025) .section-headline-2025 {
      font-size: clamp(3.11rem, 2.67rem + 2.22vw, 4.625em);
    }
  }

  :where(.page-template-solutions-2025) .section-headline-2025.small {
    font-size: clamp(1.5rem, 1.29rem + 1.07vw, 1.95rem);
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions-2025) .section-headline-2025.small {
      font-size: clamp(1.8rem, 1.54rem + 1.29vw, 2.34rem);
    }
  }

  :where(.page-template-solutions-2025) .section-headline-2025.medium {
    font-size: clamp(1.8rem, 1.54rem + 1.29vw, 2.34rem);
  }

  @media screen and (width >= 992px) {
    :where(.page-template-solutions-2025) .section-headline-2025.medium {
      font-size: clamp(2.16rem, 1.85rem + 1.54vw, 2.81rem);
    }
  }

  :where(.page-template-solutions-2025) .sub-headline {
    text-align: center;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #141414;
    margin-bottom: 3rem;
    font-size: clamp(.87rem, .74rem + .62vw, 1.13rem);
    font-weight: 500;
  }

  :where(.page-template-solutions-2025) .divider {
    padding: 0 2rem;
    position: relative;
  }

  :where(.page-template-solutions-2025) .divider svg {
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }
}
