.products-ecosystem {
    @include section-spacing;
    gap: 8rem 2rem;

    @include desktop-small {
        gap: 4rem 2rem;
    }

    background-image: url(../src/images/network-bg.png), linear-gradient(135deg, rgb(22, 1, 89) 0%, rgb(146, 18, 145) 100%);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom right, 0 0;
    background-size: contain, cover;

    .section-header {
        color: $white;

        @include desktop-small {
            grid-column: 3 / span 10;
        }

        @include desktop-medium {
            grid-column: 2 / span 7;
        }

        .sub-header {
            padding-bottom: 0.25rem;

            h3 {
                font-family: $rubik;
                text-transform: uppercase;
                letter-spacing: 0.1em;
                font-weight: 100;
            }
        }

        .header {
            h2 {
                text-transform: uppercase;
                font-weight: 400;
                line-height: 1em;
                font-family: $anton;
                letter-spacing: 0.025em;

                font-size: $type-size-1000;

                @include desktop-small {
                    font-size: $type-size-1500;
                }
            }
        }

        .deck {
            padding-top: 1rem;
        }
    }

    .product {
        background-image: radial-gradient(circle at 50%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.75) 100%);
        box-shadow: rgba(50, 50, 93, 0.4) 0px 40px 60px -12px, rgba(0, 0, 0, 0.25) 0px 18px 36px -18px;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 26.5rem;
        width: 100%;
        margin: 0 auto;

        @include tablet {
            margin: 0 0 0 auto;

            &:nth-child(odd) {
                margin: 0 auto 0 0;
            }
        }

        @include desktop-small {
            grid-column: 3 / span 10;
        }

        &-1 {
            @include desktop-medium {
                grid-column: 10 / span 4;
                grid-row: 1;
                transform: translate3d(-5vw, 20vh, 0);
            }
        }

        &-2 {
            @include desktop-medium {
                grid-column: 2 / span 4;
                grid-row: 2;
                transform: translate3d(5vw, 10vh, 0);
            }
        }

        &-3 {
            @include desktop-medium {
                grid-column: 10 / span 4;
                grid-row: 3;
                transform: translate3d(-10vw, 0, 0);
            }
        }

        .info {
            text-align: center;
            padding: 2rem;
            position: static;

            img {
                margin: 0 auto;
            }
        }

        .icon,
        .logo {
            a {
                display: block;
            }
        }

        .icon {
            position: absolute;
            right: 1rem;
            z-index: 10;
            top: -6rem;
            max-width: 8rem;

            @include desktop-small {
                top: -8rem;
                max-width: 10rem;
            }

            svg {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .logo {
            img {
                max-width: 10rem;
            }
        }

        .deck {
            padding: 1rem 0;
        }
    }

    [data-aos='fade-left'] {
        transform: translate3d(100px, -50px, 0);
    }

    [data-aos='fade-right'] {
        transform: translate3d(-100px, -50px, 0);
    }
}
