.features {
    @include section-spacing;

    .section-header {
        padding-bottom: clamp(3rem, 5vh, 6rem);
        text-align: center;

        .headline {
            padding-bottom: 1rem;
        }
    }

    .card-grid {
        display: grid;
        gap: 3rem 2rem;

        @include tablet {
            grid-template-columns: repeat(4, 1fr);
        }

        @include desktop-small {
            grid-template-columns: repeat(6, 1fr);
        }
    }

    .cards-5 {
        .card-4 {
            @include desktop-small {
                grid-column: 2 / span 2;
            }
        }
        .card-5 {
            @include tablet {
                grid-column: 2 / span 2;
            }
            @include desktop-small {
                grid-column: 4 / span 2;
            }
        }
    }

    .card {
        background: $white;
        padding: 3rem;
        border-radius: 10px;
        box-shadow: rgba(50, 50, 93, 0.1) 0px 20px 30px -12px,
            rgba(0, 0, 0, 0.0625) 0px 9px 18px -18px;
        text-align: center;

        @include tablet {
            grid-column: span 2;
        }

        .icon {
            display: flex;
            justify-content: center;
        }

        .headline {
            padding: 1rem 0 0.5rem 0;

            h3 {
                font-size: $type-size-500;
            }
        }
    }
}
