@use "../../abstracts" as *;

.hero {
    align-items: start;

    &__content {
        background: $white;
        grid-column: 1 / -1;
        padding: 3rem 2rem 0 2rem;
        z-index: 5;

        @include desktop-medium {
            padding-top: 4rem;
            background: unset;
            grid-column: 2 / span 12;
            grid-row: 1;
            z-index: 2;
        }

        @include desktop-large {
            padding-top: 6em;
        }

        @include desktop-x-large {
            padding-top: 8em;
        }
    }

    &__photo {
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    &__headline {
        font-size: 1.5rem !important;
        line-height: 1.25em !important;
        text-wrap: balance;
        max-width: 100rem;
        margin: 0 auto;

        @include desktop-small {
            font-size: 2.75rem !important;
        }
    }

    &__copy {
        padding: 2rem 0 0 0;
        color: $black;
        text-align: center;
        line-height: 1.75em;
        max-width: 55rem;
        margin: 0 auto;
    }
}
