.featured {
    gap: 2rem;

    article {
        box-shadow: rgba(50, 50, 93, 0.1) 0px 20px 30px -12px, rgba(0, 0, 0, 0.0625) 0px 9px 18px -18px;

        a {
            display: grid;
        }

        &:nth-child(1) {
            .photo {
                @include desktop-small {
                    aspect-ratio: 16 / 7;
                }
            }

            .info {
                h3 {
                    @include desktop-small {
                        font-size: $type-size-1000;
                    }
                }
            }
        }

        &:nth-child(2) {
            @include desktop-small {
                grid-column: 2 / span 6;
            }
        }

        &:nth-child(3) {
            @include desktop-small {
                grid-column: 8 / span 6;
            }
        }

        .photo {
            grid-column: 1;
            grid-row: 1;
            aspect-ratio: 1 / 1;
            @include cover-fill-image;

            @include tablet {
                aspect-ratio: 16 / 9;
            }

            img {
                border-radius: 10px;
            }

            &::before {
                content: '';
                display: block;
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                background: rgba(10, 45, 107, 0.65);
                border-radius: 10px;
            }
        }

        .info {
            grid-column: 1;
            grid-row: 1;
            z-index: 10;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            h3 {
                font-size: $type-size-700;
                color: $white;
                text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
                width: 100%;
                text-align: center;
            }

            .description {
                text-align: center;
                width: 100%;
                max-width: 30rem;
                margin: 0 auto;
                padding: 0 2rem;
                color: $white;
                text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
            }
        }
    }
}
