.footer-container {
    padding: clamp(3rem, 12vh, 7.5rem) 0 0 0;

    @include tablet-small {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    @include tablet {
        grid-column: 2 / span 8;
        padding-right: 0;
        padding-left: 0;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(3, 1fr);

        .newsletter-form {
            grid-column: 2 / span 2;
        }

        .footer-nav {
            grid-column: 1 / -1;
        }
    }

    @include desktop-small {
        grid-column: 2 / span 12;
    }
}

.newsletter-form {
    border-radius: 8px;
    background-image: linear-gradient(90deg, #a510f8 0%, #00a3ff 100%);
    padding: 2px;
    margin-top: 2rem;

    @include tablet {
        margin-top: 0;
    }

    &-container {
        background: $black;
        border-radius: 8px;
    }

    .field-container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
    }

    ._form-title {
        font-size: $type-size-200;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-family: $rubik;
        padding-bottom: 0.5rem;
    }

    .email-input {
        flex: 1 !important;
        padding-right: 1rem;

        input {
            width: 100% !important;
            border-radius: 4px !important;
            height: 2.75rem !important;
            font-family: $rubik !important;

            &:focus,
            &:active {
                outline: 1px solid #a510f8 !important;
            }
        }
    }

    .g-recaptcha {
        margin-top: 1rem;
    }
}
