@use "sass:meta";
@use "../abstracts" as *;

@layer components {
    @include meta.load-css("footer/container");
    @include meta.load-css("footer/pre-footer");
    @include meta.load-css("footer/nav");
    @include meta.load-css("footer/social");
    @include meta.load-css("footer/legal");

    .site-footer {
        background: $black;
        color: $white;

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
