.legal {
    margin-top: clamp(2rem, 5vh, 4rem);
    border-top: 1px solid $white;
    padding: 1rem 0 clamp(3rem, 12vh, 7.5rem) 0;
    opacity: 0.5;

    @include tablet {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__links {
        padding-top: 1rem;

        @include tablet {
            padding-top: 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }

    &-link {
        display: block;
        color: $white;
        margin-bottom: 0.25rem;

        @include tablet {
            margin-bottom: 0;
            margin-left: 1rem;
        }
    }
}
