.pre-footer {
    margin-top: clamp(-8rem, -25vh, -16rem);
    @include purple-blue-gradient;
    color: $white;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;

    @include desktop-small {
        justify-content: space-between;
        padding: 3rem;
    }

    @include desktop-medium {
        padding: 4rem;
    }

    .headline {
        padding-bottom: 1rem;

        @include desktop-medium {
            padding-bottom: 0.25rem;
        }

        h3 {
            font-size: $type-size-600;
            font-weight: 400;
            line-height: 1em;
        }
    }

    ul {
        list-style-type: none;
        padding: 0;

        @include tablet {
            display: flex;
            align-items: center;
        }

        li {
            font-weight: 300;
            font-size: $type-size-400;
            display: flex;
            align-items: center;

            & + li {
                margin-top: 0.5rem;

                @include tablet {
                    margin-top: 0;
                    margin-left: 2rem;
                }
            }

            .checkmark {
                display: block;
                margin-right: 0.5rem;

                svg {
                    width: 0.75rem;
                    height: 0.75rem;
                    object-fit: contain;
                }
            }
        }
    }

    .ctas {
        padding-top: 1.5rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        @include desktop-medium {
            padding-top: 0;
        }

        .cta {
            margin-top: 1rem;
            margin-right: 1rem;

            @include tablet {
                margin-right: 0;
                margin-top: 0;

                & + .cta {
                    margin-left: 1rem;
                }
            }

            .btn {
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
