@use "./abstracts" as *;

.pre-footer {
    padding: 0 2rem;

    &__container {
        color: $black;
        margin: 4rem auto;
        max-width: 1079px;
        padding: 4rem;
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
        display: grid;
        gap: 2rem;
        align-items: start;
        z-index: 5;
        position: relative;
        background: $white;
    }

    &__logo {
        display: flex;
        justify-content: center;
    }

    &__blob {
        z-index: -1;
        grid-column: 1;
        grid-row: 1;
        position: absolute;
        top: 0;

        img {
            transform: translate3d(12%, -25%, 0);
        }
    }

    @include desktop-small {
        margin: 6rem auto;
    }

    .headline {
        padding-bottom: 1rem;

        @include desktop-medium {
            padding-bottom: 0.25rem;
        }

        h3 {
            text-align: center;
            font-size: $type-size-600;
            font-weight: 300;
            line-height: 1.125em;

            strong {
                font-weight: 500;
            }
        }
    }

    ul {
        list-style-type: none;
        padding: 0;

        @include tablet {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem 2rem;
        }

        li {
            font-weight: 500;
            font-size: 1.125rem;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            color: #5a5b5b;

            .checkmark {
                display: flex;
                align-items: center;
            }
        }
    }

    .ctas {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;

        .cta {
            .btn {
                text-transform: none;
                letter-spacing: 0;
                font-weight: 600;
                font-size: 0.75rem;
                border-radius: 0.25em;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .rect-group {
        position: absolute;

        &.top-left {
            top: 0;
            left: 0;
        }

        &.top-right {
            top: 0;
            right: 0;
        }

        &.bottom-right {
            bottom: 0;
            right: 0;
        }

        & > div {
            position: absolute;
        }
    }

    .rect {
        &-yellow {
            background: #faf120;
            width: 64px;
            height: 20px;
        }

        &-orange {
            background: rgba(#f9a009, 0.85);
            width: 57px;
            height: 27px;
            top: 0;
            left: 7px;
            z-index: 2;
        }

        &-red {
            background: #cd1055;
            width: 24px;
            height: 90px;
            top: 0;
            left: 0;
            z-index: 1;
        }

        &-green {
            background: rgba(#0ead69, 0.85);
            width: 57px;
            height: 27px;
            bottom: 0;
            right: 0;
            z-index: 2;
        }

        &-purple {
            background: #7c1e6f;
            width: 24px;
            height: 53px;
            bottom: 0;
            right: 0;
            z-index: 1;
        }
    }
}
