@use "./abstracts" as *;

.promo {
    padding: 4rem 0;
    overflow: hidden;

    @include desktop-small {
        padding: 8rem 0;
    }

    &.grid {
        @include desktop-small {
            grid-template-columns: minmax(0, auto) repeat(12, minmax(0, 4.75rem)) minmax(0, auto);
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 2rem;

        @include tablet {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }

    &__card {
        a {
            display: block;
            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
        }

        img {
            width: 100%;
            border-radius: 4px;
        }
    }

    &__blob {
        z-index: -1;
        grid-column: 1;
        grid-row: 1;
        position: absolute;
        top: 0;

        img {
            transform: translate3d(12%, -16%, 0);
        }
    }
}

.demo {
    background: $white;
    border-radius: 4px;
    position: relative;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);

    &__container {
        height: 100%;
        display: grid;
        justify-content: center;
        align-content: center;
        gap: 1.25rem;
        padding: 1.5rem 2rem;
        text-align: center;

        @include tablet {
            padding: 4rem;
        }
    }

    &__logo {
        width: 9rem;
        margin: 0 auto;

        svg {
            width: 100%;
            height: auto;
        }
    }

    &__headline {
        text-align: center;
        font-size: $type-size-500;
        font-weight: 500;
        line-height: 1.125em;
    }

    .cta {
        .btn {
            text-transform: none;
            letter-spacing: 0;
            font-weight: 600;
            font-size: 0.75rem;
            border-radius: 0.25em;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .rect-group {
        position: absolute;

        &.top-left {
            top: 0;
            left: 0;
        }

        &.top-right {
            top: 0;
            right: 0;
        }

        &.bottom-right {
            bottom: 0;
            right: 0;
        }

        & > div {
            position: absolute;
        }
    }

    .rect {
        &-yellow {
            background: #faf120;
            width: 64px;
            height: 20px;
        }

        &-orange {
            background: rgba(#f9a009, 0.85);
            width: 57px;
            height: 27px;
            top: 0;
            left: 7px;
            z-index: 2;
        }

        &-red {
            background: #cd1055;
            width: 24px;
            height: 90px;
            top: 0;
            left: 0;
            z-index: 1;
        }

        &-green {
            background: rgba(#0ead69, 0.85);
            width: 57px;
            height: 27px;
            bottom: 0;
            right: 8px;
            z-index: 2;
        }

        &-purple {
            background: #7c1e6f;
            width: 24px;
            height: 53px;
            bottom: 0;
            right: 0;
            z-index: 1;
        }
    }
}
