.social {
    ul {
        display: flex;
        align-items: center;
    }

    li + li {
        margin-left: 1.5rem;
    }

    &-link {
        display: flex;
        width: 1.25rem;
        height: 1.5rem;

        svg {
            width: 100%;
            height: 100%;
            object-fit: contain;
            fill: #fff;
            transition: all 200ms ease;

            &:hover {
                fill: $blue;
            }
        }
    }

    p {
        padding-top: 2rem;
        font-family: $rubik;
        font-weight: 400;
        font-size: $type-size-200;

        span,
        a {
            display: block;
            padding-bottom: 0.25rem;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}

.badges {
    padding-top: 2rem;
    display: flex;
    align-items: center;

    .badge {
        width: 4rem;
        height: 4rem;

        & + .badge {
            margin-left: 1rem;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
