.featured {
    gap: 4rem 2rem;

    .blog {
        @include tablet-small {
            grid-column: 3 / span 6;
        }

        @include tablet {
            grid-column: 4 / span 4;
        }

        @include desktop-small {
            a {
                display: grid;
                grid-template-columns: repeat(8, 1fr);
                align-items: end;
            }
        }

        .photo {
            aspect-ratio: 4 / 3;
            background: $blog-tan;
            @include blog-photo;

            @include desktop-small {
                grid-column: 1 / span 6;
                grid-row: 1;
            }
        }

        .info {
            background: $blog-tan;
            padding: 2rem;

            @include desktop-small {
                grid-column: 5 / span 4;
                grid-row: 1;
                z-index: 10;
                transform: translate3d(0, -2rem, 0);
                padding: 1.5rem;
                box-shadow: rgba(50, 50, 93, 0.1) 0px 20px 30px -12px, rgba(0, 0, 0, 0.0625) 0px 9px 18px -18px;
            }

            .date {
                h4 {
                    display: inline-block;
                    background: $blog-green;
                    color: $white;
                    font-family: $benne;
                    font-weight: normal;
                    line-height: 1em;
                    letter-spacing: 0.15em;
                    font-variant: small-caps;
                    font-size: $type-size-100;
                    padding: 0.4125rem 0.375rem 0.125rem 0.375rem;
                }
            }

            .post-title {
                padding-top: 1rem;

                h3 {
                    font-size: $type-size-600;
                    line-height: 1.125em;
                    color: $blog-green;
                    font-family: $benne;
                    font-weight: normal;

                    @include desktop-small {
                        font-size: $type-size-400;
                    }
                }
            }

            .authors {
                padding-top: 1rem;

                .author {
                    display: grid;
                    grid-template-columns: 3.5rem 1fr;
                    gap: 0 0.5rem;
                    align-items: center;

                    &-photo {
                        aspect-ratio: 1 / 1;
                        @include cover-fill-image;

                        img {
                            border-radius: 50%;
                            filter: saturate(0%);
                        }
                    }

                    &-info {
                        .name {
                            h4 {
                                color: $blog-green;
                                font-size: $type-size-300;
                                line-height: 1.125em;
                            }
                        }

                        .meta {
                            padding-top: 0.25rem;
                            h5 {
                                font-family: $rubik;
                                color: $charcoal;
                                font-size: $type-size-100;
                                line-height: 1.25em;
                            }
                        }
                    }
                }
            }
        }

        &-1 {
            @include desktop-small {
                grid-column: 2 / span 12;
            }

            .photo {
                @include tablet {
                    aspect-ratio: 4 / 3;
                }
            }

            .info {
                @include desktop-medium {
                    padding: 2rem;
                }
                .post-title {
                    h3 {
                        @include desktop-small {
                            font-size: $type-size-600;
                        }

                        @include desktop-medium {
                            font-size: $type-size-600;
                        }
                    }
                }

                .copy {
                    padding-top: 0.5rem;
                }
            }
        }

        &-2 {
            @include desktop-small {
                grid-column: 2 / span 6;
            }
        }

        &-3 {
            @include desktop-small {
                grid-column: 8 / span 6;
            }
        }
    }
}
