section.archive {
    @include section-spacing;

    @include desktop-small {
        padding-bottom: 0;
    }

    .blog {
        .photo {
            background: $blog-tan;
            @include blog-photo;

            &-wrapper {
                aspect-ratio: 4 / 3;
                @include cover-fill-image;
            }
        }

        .info {
            padding-top: 1rem;

            .date {
                h4 {
                    display: inline-block;
                    background: $blog-green;
                    color: $white;
                    font-family: $benne;
                    font-weight: normal;
                    font-size: $type-size-100;
                    padding: 0.4125rem 0.375rem 0.125rem 0.375rem;
                    line-height: 1em;
                    letter-spacing: 0.15em;
                    font-variant: small-caps;
                }
            }

            .post-title {
                padding-top: 0.75rem;

                h3 {
                    font-size: $type-size-500;
                    line-height: 1.125em;
                    color: $blog-green;
                    font-family: $benne;
                    font-weight: normal;
                }
            }
        }
    }
}
