@use "../../abstracts" as *;

section.features {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    .feature {
        border-radius: 8px;

        @include white-shadow-card;

        .icon {
            width: 65%;
            margin: 0 auto;

            svg {
                width: 100%;
            }
        }
    }
}
