section.intro {
    background: $white;
    @include section-spacing;
    @include center-narrow;

    .info {
        @include desktop-small {
            grid-column: 2 / span 6;
        }

        .headline {
            padding-bottom: 1.5rem;

            h2 {
                line-height: 1em;
            }
        }
    }

    .photo {
        @include desktop-small {
            grid-column: 9 / span 5;
        }
    }
}

section.portal-link {
    background: $black;
    color: $white;
    padding: 1.5rem 0;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .headline {
            width: 100%;
            text-align: center;
            padding-bottom: 0.75rem;

            @include desktop-small {
                width: auto;
                padding-bottom: 0;
                padding-right: 1rem;
            }

            h4 {
                font-size: $type-size-300;
            }
        }
    }
}
