aside.banner {
    color: $white;
    border-bottom: none;
    max-height: 74px;
    display: none;

    @include desktop-small {
        display: block;
    }

    &.bg-image {
        background-size: cover;
        background-position: right top;
    }

    .link-wrapper {
        display: flex;
        justify-content: center;

        &:hover {
            strong {
                text-decoration: underline;
            }
        }
    }

    &.has-icon {
        .link-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .icon {
            width: 200px;
            margin-right: 1rem;
        }

        img {
            width: 100%;
            transform: translateY(3px);
            height: auto;
        }
    }

    .copy {
        text-align: center;
    }

    p {
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
        line-height: 1.125em;

        .btn {
            text-shadow: none;
            display: inline-block;
            margin-left: 0.5rem;
            border: 1px solid;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 0.875rem;
            letter-spacing: 0.05em;
            line-height: 0.75rem;
            padding: 0.675rem 1rem 0.5rem 1rem;
            transition: all 0.2s ease;

            &:hover {
                background: $white;
                color: $black;
                border: 1px solid $white;
            }
        }
    }

    strong {
        color: $white;
    }

    &.nab-banner {
        @include purple-blue-gradient;

        &.bg-image {
            background-size: cover;
            background-position: center center;
        }

        .link-wrapper {
            flex-wrap: wrap;
            justify-content: center;
            padding: 1rem;
            width: 100%;

            &:hover {
                strong {
                    text-decoration: none;
                }

                .copy {
                    .cta {
                        .btn {
                            background: $white !important;
                            color: $blue;
                            border: 1px solid $white;
                        }
                    }
                }
            }
        }

        .icon {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            border-right: 1px solid $white;
            padding-right: 1rem;
            width: 19rem;
        }

        img {
            max-width: 8rem;
            max-height: 3rem;
            margin-right: 1rem;
            margin-left: auto;
            width: auto;

            object-fit: contain;
        }

        .date-time {
            p {
                font-size: 0.8125rem;
                line-height: 1.25em;
            }
        }

        .copy {
            padding-right: 0;
        }
    }

    .copy {
        display: flex;
        align-items: center;
        text-align: left;

        &-wrapper {
            margin-right: 1rem;
            p {
                font-size: 0.8125rem;
                line-height: 1.375em;

                @include desktop-medium {
                    font-size: 0.9375rem;
                }

                & + p {
                    margin-top: 0;
                }
            }
        }

        .cta {
            background: unset !important;
            text-align: center;
            padding: 0;

            .btn {
                background: unset !important;
                white-space: nowrap;

                &:hover {
                    background: $white !important;
                    color: $blue !important;
                    border: 1px solid $white;
                }
            }
        }
    }
}
