.cta {
    .btn {
        text-transform: uppercase;
        display: inline-block;
        padding: 0.75rem 1.75rem 0.625rem;
        border-radius: 25px;
        font-size: $type-size-100;
        font-family: $rubik;
        letter-spacing: 0.1em;
        transition: all 400ms ease;

        &.blue {
            background: $blue;
            color: $white;
        }

        &.purple-gradient {
            @include purple-blue-gradient;
            color: $white;
        }

        &.white-outline {
            background: transparent;
            color: $white;
            border: 1px solid $white;

            &:hover {
                background: $white;
                color: $blue;
            }
        }
    }

    .underline {
        text-transform: uppercase;
        display: inline-block;
        padding: 0 0 0.125rem 0;
        font-size: $type-size-100;
        font-weight: bold;
        font-family: $rubik;
        letter-spacing: 0.1em;
        transition: all 400ms ease;

        &.white {
            color: $white;
            border-bottom: 2px solid rgba(255, 255, 255, 0.5);
        }

        &.blue {
            color: $black;
            border-bottom: 3px solid $blue;
        }
    }
}
