.customer-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .logo {
        padding: 1rem 2rem;

        .image {
            width: 6rem;
            height: 3rem;

            svg,
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}
