.hero {
    .info {
        grid-row: 1;
        z-index: 10;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: $white;
        max-height: 90vh;
        padding-top: 78px;

        @include tablet {
            padding-top: 108px;
        }

        .headline {
            text-align: center;

            h1 {
                font-size: $type-size-800;
                font-weight: 400;
                font-family: $anton;
                line-height: 1.125em;

                @include tablet {
                    font-size: $type-size-1000;
                }
            }
        }

        .deck {
            text-align: center;
            padding-top: 1rem;

            p {
                font-size: $type-size-500;
                font-weight: 300;
                font-family: $rubik;
            }
        }
    }

    .photo {
        grid-column: 1 / -1;
        grid-row: 1;
        z-index: 5;
        @include cover-fill-image;

        img {
            max-height: 90vh;
            aspect-ratio: 1 / 1;

            @include tablet {
                aspect-ratio: 16 / 9;
            }
        }
    }
}

.hero-compact {
    height: 6rem;

    @include tablet {
        height: 8rem;
    }

    @include cover-fill-image;
}
