.in-use {
    padding-top: 4rem;

    .section-header {
        padding-bottom: 1rem;
    }

    .module-title {
        color: $blue;
    }

    .item {
        & + .item {
            margin-top: 2rem;
        }

        a {
            display: grid;
            grid-template-columns: 6rem 1fr;
            align-items: center;
            background: $white;
            box-shadow: rgba(50, 50, 93, 0.1) 0px 20px 30px -12px, rgba(0, 0, 0, 0.0625) 0px 9px 18px -18px;
            border-radius: 10px;

            @include desktop-small {
                grid-template-columns: 4rem 1fr;
            }

            @include desktop-medium {
                grid-template-columns: 6rem 1fr;
            }
        }

        .photo {
            aspect-ratio: 1 / 1;
            @include cover-fill-image;

            img {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }

        .info {
            padding: 1rem;

            h4 {
                font-size: $type-size-400;
                line-height: 1.125em;

                @include desktop-small {
                    font-size: $type-size-300;
                }

                @include desktop-medium {
                    font-size: $type-size-400;
                }
            }
        }
    }
}
