.share-links {
    padding: 1rem;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    align-items: center;

    h4 {
        font-weight: 400;
        text-transform: uppercase;
        font-size: $type-size-150;
        letter-spacing: 0.1em;
        line-height: 1em;
        transform: translateY(1px);
    }

    .share-link {
        margin-left: 1.5rem;

        a {
            display: block;
            height: 1rem;
            width: 1rem;
            transition: all 200ms ease;

            @include tablet {
                height: 1.25rem;
                width: 1.125rem;
            }
        }

        &.facebook {
            a {
                height: 1rem;
                width: 1rem;

                @include tablet {
                    height: 1rem;
                    width: 0.9375rem;
                }
            }
        }

        svg {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
            fill: rgba($black, 0.4);
            transition: all 200ms ease;

            path,
            g {
                transition: all 200ms ease;
                fill: rgba($black, 0.4);
            }
        }

        a:hover {
            svg,
            path,
            g {
                fill: rgba($black, 0.8);
            }
        }
    }
}
