@import 'reset/reset';

@import 'variables/variables';
@import 'mixins/mixins';
@import 'typography/typography';
@import 'layout/layout';
@import 'elements/elements';

@import 'header/header';
@import 'footer/footer';

@import 'templates/templates';
@import 'blog/blog';

@import 'browser/browser';

.dev-nav {
    padding: 1rem 0;
    background: $black;

    ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            padding: 0 1rem;
        }

        a {
            font-size: 0.75rem;
            font-weight: 400;
            color: $white;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
