$white: #fff;
$slate: #444;
$charcoal: #5c5c5c;
$black: #000;

$blue: #2d77f8;
$dark-blue: #0a2d6b;
$light-blue: #f4f7f9;
$powder-blue: #c0e8f9;

$orange: #ef9e21;
$dark-orange: #ff7b00;

$light-red: #f58486;
$cream: #fff5e6;

$blog-tan: #e5e4d0;
$blog-green: #45826a;
