@use "../../abstracts" as *;

.licensing {
    gap: 2rem;

    @include section-spacing;

    &__info {
        @include desktop-small {
            grid-column: 2 / span 6;
        }
    }

    &__title {
        margin-bottom: 0.5rem;
    }

    &__photo {
        @include desktop-small {
            grid-column: 8 / span 6;
        }

        @include cover-fill-image;
    }
}
