section.data-protection {
    background: $light-blue;
    display: flex;
    flex-wrap: wrap;
    max-width: 1920px;
    margin: 0 auto;

    .info {
        width: 100%;

        @include tablet {
            width: 50%;
            display: flex;
            align-items: center;
        }
        
        &-wrapper {
            max-width: 37.75rem;
            margin-left: auto;
            padding: 4rem 4.75rem 4rem 2rem;

            @include tablet {
                width: 100%;
            }
        }

        .headline {
            padding-bottom: 1.5rem;
        }

    }

    .photo {
        width: 100%;
        
        @include tablet {
            width: 50%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}