section.features {
    @include section-spacing;
    background: $white;

    .section-header {
        text-align: center;
        padding-bottom: 3rem;

        h2.small {
            text-transform: uppercase;
            letter-spacing: 0.05em;
            font-size: $type-size-300;
            font-weight: 300;
        }
    }

    .feature {
        @include white-shadow-card;
        text-align: center;
        border-bottom: 11px solid $black;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        transition: all 400ms ease;

        .icon {
            display: flex;
            justify-content: center;
        }

        .headline {
            padding: 2rem 0 1rem 0;

            @include desktop-small {
                padding: 2rem 0;
            }
        }
    }
}