section.pods-and-recipes {
    @include section-spacing;
    background: $light-blue;

    .section-header {
        padding-bottom: 3rem;
        @include desktop-small {
            grid-column: 3 / span 10;
        }

        .headline {
            padding-bottom: 2rem;
        }

        .copy {
            text-align: left;

            @include desktop-small {
                columns: 2;
                column-gap: 3rme;
            }
        }
    }

    .gallery {
        .item {
            @include white-shadow-card;
            text-align: center;
            border-radius: 8px;

            @include tablet {
                padding: 3rem 2.5rem;
            }


            .logo {
                display: flex;
                justify-content: center;
                padding-bottom: 0.5rem;

                img {
                    max-width: 10rem;
                    width: 100%;
                    height: 5rem;
                    object-fit: contain;
                }
            }

        }
    }
}