body.post-type-archive-news {
    .page-header {
        h1 {
            @include tablet {
                grid-column: 3 / span 6;
            }

            @include desktop-small {
                grid-column: 3 / span 10;
            }

            @include desktop-medium {
                grid-column: 2 / span 12;
            }
        }
    }

    @import 'archive-news/press-release';

    @import 'archive-news/in-the-press';

    @import 'archive-news/featured';

    @import 'archive-news/archive';
}
