body.page-template-atlas {
    .site-header .site-logo:not(.scrolled):before {
        background: linear-gradient(335.76deg, #115e7b 28.91%, #102951 98.29%);
        opacity: 1;
    }

    @import 'atlas/overview';

    @import 'atlas/features';

    @import 'atlas/containerization';
}
