body.page-template-channels {
    .site {
        background: $white;
    }

    @import 'channels/hero';

    @import 'channels/intro';

    @import 'channels/featured';

    @import 'channels/why';

    @import 'channels/partners';
}
