body.page-template-customer-support {
    .site {
        background: $cream;
    }

    @import 'customer-support/hero';

    @import 'customer-support/intro';

    @import 'customer-support/features';

    @import 'customer-support/by-the-numbers';
}
