body.page-template-demo-landing-page {
    .site-footer {
        margin-top: unset;

        .pre-footer {
            display: none;
        }
    }

    .nab-modal.micromodal-slide.is-open {
        display: none !important;
    }

    @import "demo-landing-page/hero";

    @import "demo-landing-page/why";

    @import "demo-landing-page/customers";
}
