body.page-template-demo {
    .site-footer {
        margin-top: unset;
    }

    @import "demo/hero";

    .demo {
        display: grid;
        @include desktop-small {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }

    @import "demo/content";

    @import "demo/form";
}
