body.page-template-home {
    @import 'home/header';

    &.nav-overlay-open {
        .site-header {
            .site-logo a svg #background {
                fill: $black;
            }

            .desktop-nav,
            .search-container,
            .hamburger,
            .cta {
                background: $black;
            }
        }
    }

    &.has-hero {
        .site-header {
            position: static;

            @include tablet {
                position: fixed;
            }

            .site-logo {
                &:before {
                    background: $blue;
                    opacity: 1;

                    @include tablet {
                        background: unset;
                        opacity: unset;
                    }
                }
            }
        }
    }

    @import 'home/hero';

    @import 'home/intro';

    @import 'home/open';

    @import 'home/customers';
}
