body.page-template-home {
    @import 'home/header';

    &.nav-overlay-open {
        .site-header {
            .site-logo {
                a svg #background {
                    fill: $black;
                }

                &:before {
                    @include tablet {
                        background: $blue;
                        opacity: 1;
                    }
                }
            }

            .desktop-nav,
            .search-container,
            .hamburger,
            .cta {
                background: $black;
            }
        }
    }

    &.has-hero {
        .site-header {
            position: sticky;

            @include tablet {
                position: fixed;
            }

            .site-logo {
                &:before {
                    background: $blue;
                    opacity: 1;

                    @include tablet {
                        background: unset;
                        opacity: unset;
                    }
                }

                &.scrolled {
                    &:before {
                        @include tablet {
                            background: $blue;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    &.nav-overlay-open.has-hero {
        .site-logo {
            &:before {
                @include tablet {
                    background: $blue;
                    opacity: 1;
                }
            }
        }
    }

    @import 'home/hero';

    @import 'home/intro';

    @import 'home/open';

    @import 'home/customers';
}
