body.page-template-leadership {
    .hero {
        @include hero-shadows;

        @include tablet {
            .photo img {
                height: clamp(28rem, 60vh, 44rem);
            }
        }
    }

    .leadership {
        @include small-section-spacing-bottom;

        .four-col-grid {
            align-items: stretch;
        }
    }

    .leader-teaser {
        background: $white;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        transition: all 400ms ease;
        height: 100%;

        &:hover {
            .info {
                background: $dark-blue;

                .name h3,
                .position h4 {
                    color: $white;
                }
            }
        }

        .photo {
            aspect-ratio: 3 / 4;
            @include cover-fill-image;
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
            transition: all 400ms ease;
        }

        .info {
            padding: 1.5rem 2rem;
            transition: all 400ms ease;
            flex: 1;

            .name {
                h3 {
                    transition: all 400ms ease;
                    font-size: $type-size-500;
                    color: $blue;
                }
            }

            .position {
                h4 {
                    transition: all 400ms ease;
                    font-size: $type-size-200;
                    line-height: 1.125em;
                    color: $dark-blue;
                    font-family: $rubik;
                }
            }
        }
    }

    .leader-modal {
        .modal__content {
            display: flex;
            flex-wrap: wrap;

            .photo {
                width: 100%;

                @include tablet {
                    width: 20rem;
                }
            }

            .info {
                flex: 1;
                padding-top: 1rem;

                @include tablet {
                    padding-top: 0;
                    padding-left: 2rem;
                }

                .name {
                    h3 {
                        transition: all 400ms ease;
                        font-size: $type-size-500;
                        color: $blue;
                    }
                }

                .position {
                    padding-bottom: 2rem;
                    h4 {
                        transition: all 400ms ease;
                        font-size: $type-size-200;
                        line-height: 1.125em;
                        color: $dark-blue;
                        font-family: $rubik;
                    }
                }
            }
        }
    }
}
