body.single-customer_stories {
    article.customer_stories {
        @include small-section-spacing;
        gap: 2rem;

        @import 'single-customer-stories/header';

        @import 'single-customer-stories/body';

        @import 'single-customer-stories/sidebar';

        @import 'single-customer-stories/footer';

        @import 'single-customer-stories/call-to-action';
    }
}
