body.single-news {
    article.news {
        @include small-section-spacing;
        gap: 2rem;

        .article-header {
            @include tablet {
                grid-column: 3 / span 6;
            }

            @include desktop-small {
                grid-column: 3 / span 10;
            }

            .back {
                a {
                    font-size: $type-size-100;
                    text-transform: uppercase;
                    letter-spacing: 0.15em;
                    color: $blue;

                    &::before {
                        content: '← ';
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            h1 {
                font-size: $type-size-900;
                color: $dark-blue;
                line-height: 1.125em;
            }
        }

        .article-body {
            background: $white;
            padding: 1rem 2rem;
            border-radius: 10px;
            box-shadow: rgba(50, 50, 93, 0.1) 0px 20px 30px -12px,
                rgba(0, 0, 0, 0.0625) 0px 9px 18px -18px;

            @include tablet {
                grid-column: 3 / span 6;
            }

            @include desktop-small {
                grid-column: 3 / span 10;
                padding: 2rem;
            }

            .type {
                padding-bottom: 1rem;

                h4 {
                    font-size: $type-size-300;
                    text-transform: uppercase;
                    letter-spacing: 0.05em;
                    color: $dark-blue;
                    font-family: $rubik;
                }
            }

            .featured-image {
                padding-bottom: 2rem;
                aspect-ratio: 16 / 9;
                @include cover-fill-image;

                img {
                    border-radius: 5px;
                }
            }

            .publication {
                padding-top: 2rem;
                display: grid;
                align-items: center;
                gap: 1rem 2rem;
                grid-template-columns: 6rem 1fr;

                .logo {
                    width: 6rem;
                }

                .byline {
                    p {
                        font-size: $type-size-150;
                        font-weight: bold;
                        font-family: $rubik;
                    }

                    .author {
                    }

                    .date {
                        padding-left: 1rem;
                        opacity: 0.5;
                    }
                }
            }

            .copy-2 {
                padding-top: 2rem;
                line-height: 1.675em;
            }

            h3 {
                color: $dark-blue;

                & + * {
                    margin-top: 0.5rem;
                }
            }

            .read-more {
                padding-top: 2rem;
            }
        }

        .article-footer {
            padding-top: 2rem;

            @include tablet {
                grid-column: 3 / span 6;
            }

            @include desktop-small {
                grid-column: 2 / span 12;
                padding-top: 4rem;
            }

            .related {
                .section-header {
                    padding-bottom: 1rem;

                    @include desktop-small {
                        padding-bottom: 2rem;
                    }
                }

                .section-title {
                    color: $dark-blue;
                }
            }
        }

        &.news_types-in-the-press {
            .article-body {
                .copy-2 {
                    &:after {
                        display: block;
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        z-index: 10;
                        width: 100%;
                        height: 75%;
                        background-image: linear-gradient(
                            180deg,
                            rgba(255, 255, 255, 0) 0%,
                            rgba(255, 255, 255, 1) 100%
                        );
                    }
                }
            }
        }
    }
}
