.capabilities {
    @include section-spacing;

    &__header {
        text-align: center;
        padding-bottom: 2rem;
        @include desktop-small {
            grid-column: 4 / span 8;
        }
    }

    &__info {
        display: grid;
        gap: 1rem 2rem;
        align-items: start;

        @include desktop-small {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }

    &__sub-title {
        font-weight: bold;
        @include desktop-small {
            grid-column: span 3;
        }
    }

    &__copy {
        p {
            margin-bottom: 1rem;
        }
        @include desktop-small {
            grid-column: span 2;
            columns: 2;
            column-gap: 2rem;
        }
    }

    &__other {
        background: #e4ebf8;
        padding: 2rem;
        @include desktop-small {
        }

        ul {
            padding-left: 1rem;
        }
        li {
            padding-top: 0.5rem;
        }
    }

    &__photo {
        padding-top: 2rem;
        @include desktop-small {
            padding-top: 4rem;
            grid-column: 4 / span 8;
        }
    }
}
