.hero {
    &__info {
        padding: 2rem 0;
        grid-row: 1;
        z-index: 2;
        align-content: center;
        display: grid;
        gap: 1rem;
        color: $white;

        @include desktop-small {
            grid-column: 2 / span 6;
        }
    }

    &__title {
        font-size: 2rem;

        @include tablet {
            font-size: 3rem;
        }
        font-weight: 400;
        line-height: 1.125em;
        text-shadow: 0 0 12px rgba($black, 0.75);
    }

    &__sub-title {
        text-shadow: 0 0 12px rgba($black, 0.75);
        font-size: 1.25rem;

        @include tablet {
            font-size: 1.5rem;
        }
    }

    &__deck {
        text-shadow: 0 0 12px rgba($black, 0.75);
        padding: 1rem;
        background: rgba($black, 0.5);
        border-radius: 0.25rem;
        border: 1px solid rgba($white, 0.1);
        box-shadow: 0 2px 8px rgba($black, 0.15);
    }

    &__photo {
        grid-column: 1 / -1;
        grid-row: 1;
        z-index: 1;
        @include cover-fill-image;

        @include desktop-medium {
            max-height: 50rem;
        }
    }
}
